mixin extLink(url)
  a(href=url target="_blank")
    block

mixin pageHeader(name)
  div.row
    div.col-auto.mr-auto
      h1.display-4.mb-0 Bootstrap 4 tutorial
      block
    div.col-auto.dropdown.mt-3
      +extLink("https://github.com/higuma/bootstrap-4-tutorial/")
        img.mr-1(src="../img/GitHub-Mark-32px.png")
      button.btn.btn-outline-secondary.dropdown-toggle#lang-select(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Language
      div.dropdown-menu.dropdown-menu-right(aria-labelledby="lang-select")
        a.dropdown-item(href="#") English (英語)
        a.dropdown-item(href=`../ja/${name}.html`) Japanese (日本語)

mixin breadcrumbLevel0
  nav.mt-4.mb-5(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item.active(aria-current="page") Home

mixin breadcrumbLevel1(current)
  nav.mt-4.mb-5(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="index.html") Home
      li.breadcrumb-item.active(aria-current="page")= current

mixin breadcrumbLevel2(prevUrl, prev, current)
  nav.mt-4.mb-5(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="index.html") Home
      li.breadcrumb-item
        a(href=prevUrl)= prev
      li.breadcrumb-item.active(aria-current="page")= current

mixin collapseButton(target)
  a.btn.btn-outline-info(data-toggle="collapse" href=target aria-control=target aria-expanded="false")
    block

mixin attrBtn(target)
  |  
  a.btn.btn-sm.btn-outline-info.my-1.px-1.py-0(data-toggle="collapse" href=target aria-control=target aria-expanded="false") Attribute

mixin attrsBtn(target)
  |  
  a.btn.btn-sm.btn-outline-info.my-1.px-1.py-0(data-toggle="collapse" href=target aria-control=target aria-expanded="false") Attributes

mixin filesBtn(target)
  |  
  a.btn.btn-sm.btn-outline-info.my-1.px-1.py-0(data-toggle="collapse" href=target aria-control=target aria-expanded="false") files
