extends ../template-cdn-en
include ../mixins-en

block head
  title Bootstrap 4 tutorial: Components (5): Forms

block body
  div.container
    +pageHeader("components-5")
      p.lead Components (5): 
        a(href="#forms") Forms

    h2.mt-2#forms
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/") Forms
    h4.mt-3#overview
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#overview") Overview
    h5.my-3#basic-example Basic example
    form.mb-4
      div.form-group
        label(for="exampleInputEmail1") Email address
        input.form-control#exampleInputEmail1(type="email" aria-describedby="emailHelp" placeholder="Enter email")
        small.form-text.text-muted#emailHelp We'll never share your email with anyone else.
      div.form-group
        label(for="exampleInputPassword1") Password
        input.form-control#exampleInputPassword1(type="password" placeholder="Password")
      div.form-check
        input.form-check-input#exampleCheck1(type="checkbox")
        label.form-check-label(for="exampleCheck1") Check me out
      button.btn.btn-primary.mt-2(type="submit") Submit
    +collapseButton("#basic-example-structure") Structure
    ul.struct.mt-2.collapse#basic-example-structure
      li Form 
        code form
        ul
          li
            a(href="#form-groups") Form group 
            |  (1) 
            code div.form-group
            ul
              li Label 
                code label
                +attrBtn(".a1-1")
                ul
                  li.att.collapse.a1-1 Attribute 
                    code for="exampleInputEmail1"
                  li.txt Text 
                    code Email address
              li
                a(href="#form-controls") Form control 
                code input.form-control
                +attrsBtn(".a1-2")
                ul.collapse.a1-2 
                  li.att Attribute 
                    code id="exampleInputEmail1"
                  li.att Attribute 
                    code type="email"
                  li.att Attribute 
                    code placeholder="Enter email"
                  li.att Accessibility attribute 
                    code aria-describedby="emailHelp"
              li
                a(href="#help-text") Help text 
                code small.form-text.text-muted
                +attrBtn(".a1-3")
                ul
                  li.att.collapse.a1-3 Accessibility attribute 
                    code id="emailHelp"
                  li.txt Text 
                    code We'll never share your email with anyone else.
            a(href="#form-groups") Form group 
            |  (2) 
            code div.form-group
            ul
              li Label 
                code label
                +attrBtn(".a1-4")
                ul
                  li.att.collapse.a1-4 Attribute 
                    code for="exampleInputPassword1"
                  li.txt Text 
                    code Password
              li
                a(href="#form-controls") Form control 
                code input.form-control
                +attrsBtn(".a1-5")
                ul.collapse.a1-5
                  li.att Aiiribute 
                    code id="exampleInputPassword1"
                  li.att Aiiribute 
                    code type="password"
                  li.att Aiiribute 
                    code placeholder="Password"
          li
            a(href="#default-stacked") Checkbox + label 
            code div.form-check
            ul
              li
                a(href="#checkboxes-and-radios") Checkbox 
                code input.form-check-input
                +attrsBtn(".a1-6")
                ul.collapse.a1-6
                  li.att Attribute 
                    code id="exampleCheck1"
                  li.att Attribute 
                    code type="checkbox"
              li
                a(href="#checkboxes-and-radios") Label 
                code label.form-check-label
                +attrBtn(".a1-7")
                ul
                  li.att.collapse.a1-7 Attribute 
                    code for="exampleCheck1"
                  li.txt Text 
                    code Check me out
          li
            a(href="components-2.html#buttons") Button 
            code button.btn.btn-primary.mt-2
            +attrBtn(".a1-8")
            ul
              li.att.collapse.a1-8 Attribute 
                code type="submit"
              li.txt Text 
                code Submit
    h4.mt-4#form-controls
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#form-controls") Form controls
    p.mt-3.mb-1 Set 
      code .form-control
      |  to input controls ( 
      code input
      | , 
      code select
      | , 
      code textarea
      |  ) ⇒ 
      |  displays with a rounded border by 100% width
    h5.mt-4#form-controls-input With 
      code input
      |  +attribute 
      code type="(text|email|password|number|...)"
    p.mt-3.mb-1 Browser default 
      code input
      |  +attribute 
      code type="email"
    input#input-default(type="email" placeholder="name@example.com")
    p.mt-3.mb-1
      code input.form-control
      |  +attribute 
      code type="email"
    input.form-control#input-form-control(type="password" placeholder="name@example.com")
    h5.mt-4#form-controls-select With 
      code select
    p.mt-3.mb-1 Browser default 
      code select
    select#select-default
      each n in [1,2,3,4,5]
        option= `Item ${n}`
    p.mt-3.mb-1
      code select.form-control
    select.form-control#select-form-control
      each n in [1,2,3,4,5]
        option= `Item ${n}`
    p.mt-3.mb-1 Browser default 
      code select
      |  +attribute 
      code multiple
    select#select-default-1(multiple)
      each n in [1,2,3,4,5]
        option= `Item ${n}`
    p.mt-3.mb-1
      code select.form-control
      |  +attribute 
      code multiple
    select.form-control(multiple)
      each n in [1,2,3,4,5]
        option= `Item ${n}`
    h5.mt-4#form-controls-textarea With 
      code textarea
    p.mt-3.mb-1 Browser default 
      code textarea
    textarea#textarea-default-1(rows="3")
    p.mt-3.mb-1
      code textarea.form-control
    textarea.form-control#textarea-form-control-1(rows="3")
    h5.mt-4#form-controls-file With 
      code input
      |  +attribute 
      code type="file"
    p.mt-3.mb-1 Set 
      code .form-control-file
      |  to file input controls (
      code input
      |  +attribute 
      code type="file"
      |  )
    p.mt-3.mb-1 Browser default 
      code input
      |  +attribute 
      code type="file"
    input#input-default-1(type="file")
    p.mt-3.mb-1
      code input.form-control-file
      |  +attribute 
      code type="file"
      |  (⇒ 
      a(href="#form-control-file-note") Note 1
      | )
    input.form-control-file#input-form-control-1(type="file")
    div.alert.alert-info.mt-3#form-control-file-note(role="alert")
      strong Note 1: 
      | (On Apr. 2018) It does not work on Chrome/Firefox (both display the same as browser default) while IE11/Edge display with 100% width. For cross-browser consistency, you can use a 
      a(href="#file-browser") file browser
      |  of 
      a(href="#custom-forms") custom forms 
      |  (JavaScript required: see 
      a(href="#file-browser-code-example") JavaScript code example
      |  ).
    h4.mt-4#sizing
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#sizing") Sizing
    p.my-2 Add 
      code .form-control-(sm|lg)
      |  to 
      code .form-control
    each elem in ["input","select"]
      h5.mt-3.mb-2(id=`sizing-${elem}`) With 
        code= elem
      each sz in [["sm","Small"],[null,"Default"],["lg","Large"]]
        p.mt-2.mb-1
          code= `${elem}.form-control${sz[0] ? `.form-control-${sz[0]}` : ""}`
        - if (elem == "input")
          input(class=`form-control${sz[0] ? ` form-control-${sz[0]}` : ""} mt-1 mb-2` type="text" placeholder=`${sz[1]} input`)
        - else
          select(class=`form-control${sz[0] ? ` form-control-${sz[0]}` : ""} mt-1 mb-2`)
            each n in [1,2,3,4,5]
              option= `${sz[1]} select (${n})`
    h4.mt-4#range-inputs
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#range-inputs") Range inputs
    p.mt-3.mb-1 Browser default 
      code input
      |  +attribute 
      code type="range"
    input#defaultRange(type="range")
    p.mt-3.mb-1
      code input.form-control-range
      |  +attribute 
      code type="range"
      |  (fits to the parent width)
    input.form-control-range#formControlRange(type="range")
    h4.mt-4#readonly
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#readonly") Readonly
    p.my-2 Set 
      code readonly
      |  attribute to prevent the modification of the input value (it is still available for copy and paste).
    h6.mt-2.mb-1#example-readonly Example: 
      code input.form-control
      |  +attribute 
      code type="text" value="Read-only value" readonly
    div.form-group
      input.form-control(type="text" value="Read-only value" readonly)
    h5.mt-3#readonly-plain-text
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#readonly-plain-text") (Readonly) plain text
    p.mt-2.mb-3 With setting 
      code .form-control-plaintext
      |  to a form control, it hides borders and shows like a plain text but margins/paddings are preserved.
    h6.mb-1#example-readonly-plain-text Example (below): 
      code input.form-control-plaintext
      |  +attribute 
      code type="text" value="Read-only value" readonly
    form.mt-1
      div.form-group
        input.form-control-plaintext(type="text" value="Read-only value" readonly)
    h5.mt-4.mb-3#readonly-plain-text-example-1 Example 1
    form.mb-4
      div.form-group.row
        label.col-sm-2.col-form-label(for="staticEmail") Email
        div.col-sm-10
          input.form-control-plaintext#staticEmail(type="text" readonly value="email@example.com")
      div.form-group.row
        label.col-sm-2.col-form-label(for="inputPassword") Password
        div.col-sm-10
          input.form-control#inputPassword(type="password" placeholder="Password")
    +collapseButton("#readonly-plain-text-example-1-structure") Structure
    ul.struct.mt-2.collapse#readonly-plain-text-example-1-structure
      li Form 
        code form
        ul
          li Same as 
            a(href="#horizontal-form") Horizontal form
            |  example except top-right
          li Top-right (
            strong email@example.com
            | ) 
            code input.form-control-plaintext
            +attrsBtn(".a2-1")
            ul.collapse.a2-1
              li.att Attribute 
                code type="text"
              li.att Attribute 
                code readonly
              li.att Attribute 
                code value="email@example.com"
    h5.mt-4.mb-3#readonly-plain-text-example-2 Example 2
    form.form-inline.mb-4
      div.form-group.my-1
        label.sr-only(for="staticEmail2") Email
        input.form-control-plaintext#staticEmail2(type="text" readonly value="email@example.com")
      div.form-group.mx-sm-3.my-1
        label.sr-only(for="inputPassword2") Password
        input.form-control#inputPassword2(type="password" placeholder="Password")
      button.btn.btn-primary.my-1(type="submit") Confirm identity
    +collapseButton("#readonly-plain-text-example-2-structure") Structure
    ul.struct.mt-2.collapse#readonly-plain-text-example-2-structure
      li Inline form 
        code form.form-inline
        |  ⇒ see 
        a(href="#inline-forms-example") Inline form - Example
        ul
          li On left: 
            strong email@example.com 
            code input.form-control-plaintext
            ul
              li.att Same attributes as 
                a(href="#readonly-plain-text-example-1") Example 1
    h4.mt-4.mb-3#checkboxes-and-radios
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#checkboxes-and-radios") Checkboxes and radios
    +collapseButton("#checkboxes-and-radios-summary") Summary
    ul.struct.mt-2.collapse#checkboxes-and-radios-summary
      li Form control (checkbox/radio) 
        code div.form-check
        |  : Stacked (top to bottom) as default
        +attrBtn(".a3-1")
        ul
          li.cls.collapse.a3-1 Add 
            code .form-check-inline
            |  to arrange inline (left to right)
          li Checkbox / radio button 
            code input.form-check-input
            +attrsBtn(".a3-2")
            ul.collapse.a3-2
              li.att Attribute 
                code type="checkbox"
                |  or 
                code "radio"
              li.att Attribute 
                code id="{control-id}"
              li.att (for checked items) Attribute 
                code checked
              li.cls Add 
                code .position-static
                |  with no label
          li Associated label 
            code label.form-check-label
            +attrBtn(".a3-3")
            ul.collapse.a3-3
              li.att Attribute 
                code for="{control-id}"
    h5.mt-4#default-stacked
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#default-stacked") Default (stacked)
    h6.mt-3.mb-2#default-stacked-checkboxes Checkboxes example
    div.form-check
      input.form-check-input#defaultCheck1(type="checkbox" value="" checked)
      label.form-check-label(for="defaultCheck1") Default checkbox 1
    div.form-check
      input.form-check-input#defaultCheck2(type="checkbox" value="")
      label.form-check-label(for="defaultCheck2") Default checkbox 2
    div.form-check.mb-3
      input.form-check-input#defaultCheck3(type="checkbox" value="" disabled)
      label.form-check-label(for="defaultCheck3") Disabled checkbox
    +collapseButton("#default-stacked-checkboxes-structure") Structure
    ul.struct.mt-2.collapse#default-stacked-checkboxes-structure
      li
        code div.form-check
        |  (&times;3)
        ul
          li Checkbox 
            code input.form-check-input
            +attrsBtn(".a4-1")
            ul.collapse.a4-1
              li.att Attribute 
                code id="defaultCheck(1|2|3)"
              li.att Attribute 
                code type="checkbox"
              li.att Attribute 
                code value="..."
              li.att Attribute 
                code checked
                |  (first item only)
              li.att Attribute 
                code disabled
                |  (last item only)
          li Label 
            code label.form-check-label
            +attrBtn(".a4-2")
            ul
              li.att.collapse.a4-2 Attribute 
                code for="defaultCheck(1|2|3)"
              li.txt Text 
                code Default checkbox (1|2)
                |  or 
                code Disabled checkbox
                |  (grayed automatically)
    h6.mt-3.mb-2#default-stacked-radios Radios example
    div.form-check
      input.form-check-input#exampleRadios1(type="radio" name="exampleRadios" value="option1" checked)
      label.form-check-label(for="exampleRadios1") Default radio
    div.form-check
      input.form-check-input#exampleRadios2(type="radio" name="exampleRadios" value="option2")
      label.form-check-label(for="exampleRadios2") Second default radio
    div.form-check.disabled.mb-3
      input.form-check-input#exampleRadios3(type="radio" name="exampleRadios" value="option3" disabled)
      label.form-check-label(for="exampleRadios3") Disabled radio
    +collapseButton("#default-stacked-radios-structure") Structure
    ul.struct.mt-2.collapse#default-stacked-radios-structure
      li
        code div.form-check
        |  (&times;3)
        ul
          li Radio button 
            code input.form-check-input
            +attrsBtn(".a5-1")
            ul.collapse.a5-1
              li.att Attribute 
                code id="exampleRadios(1|2|3)"
              li.att Attribute 
                code type="radio"
              li.att Attribute 
                code name="exampleRadios"
              li.att Attribute 
                code value="..."
              li.att Attribute 
                code checked
                |  (first item only)
              li.att Attribute 
                code disabled
                |  (last item only)
          li Label 
            code label.form-check-label
            +attrBtn(".a5-2")
            ul
              li.att.collapse.a5-2 Attribute 
                code for="exampleRadios(1|2|3)"
              li.txt Text 
                code Default radio (1|2)
                |  or 
                code Disabled radio
                |  (grayed automatically)
    h5.mt-4#inline
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#inline") Inline 
    p.my-2 Add 
      code .form-check-inline
      |  to 
      code div.form-check
    p.my-2 Inline checkboxes
    div.form-check.form-check-inline
      input.form-check-input#inlineCheckbox1(type="checkbox" value="option1")
      label.form-check-label(for="inlineCheckbox1") 1
    div.form-check.form-check-inline
      input.form-check-input#inlineCheckbox2(type="checkbox" value="option2")
      label.form-check-label(for="inlineCheckbox2") 2
    div.form-check.form-check-inline
      input.form-check-input#inlineCheckbox3(type="checkbox" value="option3" disabled)
      label.form-check-label(for="inlineCheckbox3") 3 (disabled)
    p.mt-3.mb-2 Inline radios
    div.form-check.form-check-inline
      input.form-check-input#inlineRadio1(type="radio" name="inlineRadioOptions" value="option1" checked)
      label.form-check-label(for="inlineRadio1") 1
    div.form-check.form-check-inline
      input.form-check-input#inlineRadio2(type="radio" name="inlineRadioOptions" value="option2")
      label.form-check-label(for="inlineRadio2") 2
    div.form-check.form-check-inline
      input.form-check-input#inlineRadio3(type="radio" name="inlineRadioOptions" value="option3" disabled)
      label.form-check-label(for="inlineRadio3") 3 (disabled)
    div.mt-3
      +collapseButton("#inline-structure") Structure
    ul.struct.mt-2.collapse#inline-structure
      li
        code div.form-check.form-check-inline
        ul
          li Rest of all are the same as 
            a(href="#default-stacked") Default (stacked)
            |  examples
    h5.mt-4#without-labels
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#without-labels") Without labels
    p.my-2 Add 
      code .position-static
      |  to 
      code input
    div.form-check
      input.form-check-input.position-static#blankCheckbox(type="checkbox" value="option1" aria-label="Checkbox without label")
    div.form-check
      input.form-check-input.position-static#blankRadio1(type="radio" name="blankRadio" value="option1" aria-label="Radio button without label" checked)
    div.form-check
      input.form-check-input.position-static#blankRadio2(type="radio" name="blankRadio" value="option2" aria-label="Radio button without label")
    div.form-check.mb-3
      input.form-check-input.position-static#blankRadio3(type="radio" name="blankRadio" value="option3" aria-label="Radio button without label")
    +collapseButton("#without-labels-structure") Structure
    ul.struct.mt-2.collapse#without-labels-structure
      li
        code div.form-check
        ul
          li
            code input.form-check-input.position-static
            +attrsBtn(".a6-1")
            ul.collapse.a6-1
              li.att Attrribute 
                code id="blankCheckbox"
              li.att Attrribute 
                code type="checkbox"
              li.att Attrribute 
                code value="..."
              li.att Accessibility attrribute 
                code aria-label="Checkbox without label"
      li
        code div.form-check
        |  (&times;3)
        ul
          li
            code input.form-check-input.position-static
            +attrsBtn(".a6-2")
            ul.collapse.a6-2
              li.att Attrribute 
                code id="blankRadio(1|2|3)"
              li.att Attrribute 
                code type="radio"
              li.att Attrribute 
                code value="..."
              li.att Accessibility attrribute 
                code aria-label="Radio button without label"
              li.att Attrribute (first radio only) 
                code checked
    h4.mt-4#layout
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#layout") Layout
    h5.mt-3#form-groups
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#form-groups") Form groups
    p.my-2 A control element ( 
      code input
      |  , 
      code select
      |  , 
      code textarea
      |  , etc.) and its associated label 
      code label
      |  are set inside 
      code div.form-group
    h6.mt-3#form-groups-example Example: gray border to 
      code form
      |  , orange border to 
      code div.form-group
      |  to indicate structure
    form.border.mb-4(style="padding:1px;")
      each ex in [["Example", ""], ["Another", "2"]]
        div.form-group.border.border-warning(style="padding:1px;")
          label(for=`formGroupExampleInput${ex[1]}`)= `${ex[0]} label`
          input.form-control(type="text" id=`formGroupExampleInput${ex[1]}` placeholder=`${ex[0]} input`)
    +collapseButton("#form-groups-example-structure") Structure
    ul.struct.mt-2.collapse#form-groups-example-structure
      li Form 
        code form
        ul
          li Form group(s) 
            code div.form-group
            ul
              li Label 
                code label
                +attrBtn(".a7-1")
                ul
                  li.att.collapse.a7-1 Attribute 
                    code for="{control-id}"
                  li.txt Text (e.g.) 
                    code Input
              li control 
                code (input|select|textarea).form-control
                +attrBtn(".a7-2")
                ul.collapse.a7-2
                  li.att Attribute 
                    code id="{control-id}"
    h5.mt-4#form-grid
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#form-grid") Form grid
    p.mt-2.mb-3 More complex and responsive forms can be built using 
      a(href="layout-1.html#grid") Grid
      |  . The first example below divides a row 
      code div.row 
      |  with two columns 
      code div.col
      | . But it sets slightly wider paddings (gutters) on center.
    form.mb-4
      div.row
        each str in ["First", "Last"]
          div.col
            input.form-control(type="text" placeholder=`${str} name`)
    +collapseButton("#form-grid-structure") Structure
    ul.struct.mt-2.collapse#form-grid-structure
      li Form 
        code form
        ul
          li Row (normal) 
            code div.row
            ul
              li Column 
                code div.col
                |  (&times;2)
                ul
                  li First/Last name 
                    code input.form-control
    h5.mt-4#form-row
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#form-row") Form row
    p.my-2.mb-3 Changing from
      code .row
      |  to 
      code .form-row
      |  adjusts paddings (tighter and compact) for form layouts.
    form.mb-4
      div.form-row
        each str in ["First", "Last"]
          div.col
            input.form-control(type="text" placeholder=`${str} name`)
    +collapseButton("#form-row-structure") Structure
    ul.struct.mt-2.collapse#form-row-structure
      li Form 
        code form
        ul
          li Row (customized for forms) 
            code div.form-row
            ul
              li Column 
                code div.col
                |  (&times;2)
                ul
                  li First/Last name (same as above)
    h5.mt-4#form-grid-example Example
    p.mt-2.mb-4 From the official document (orange border to 
      code .form-group
      |  to indicate structure)
    form.mb-4
      div.form-row
        div.form-group.col-md-6.border.border-warning(style="padding:1px")
          label(for="inputEmail4") Email
          input.form-control#inputEmail4(type="email" placeholder="Email")
        div.form-group.col-md-6.border.border-warning(style="padding.1px")
          label(for="inputPassword4") Password
          input.form-control#inputPassword4(type="password" placeholder="Password")
      div.form-group.border.border-warning(style="padding:1px")
        label(for="inputAddress") Address
        input.form-control#inputAddress(type="text" placeholder="1234 Main St")
      div.form-group.border.border-warning(style="padding:1px")
        label(for="inputAddress2") Address 2
        input.form-control#inputAddress2(type="text" placeholder="Apartment, studio, or floor")
      div.form-row
        div.form-group.col-md-6.border.border-warning(style="padding:1px")
          label(for="inputCity") City
          input.form-control#inputCity(type="text")
        div.form-group.col-md-4.border.border-warning(style="padding:1px")
          label(for="inputState") State
          select.form-control#inputState
            option(selected) Choose...
            option ...
        div.form-group.col-md-2.border.border-warning(style="paddingL1px")
          label(for="inputZip") Zip
          input.form-control#inputZip(type="text")
      div.form-check
        input.form-check-input#gridCheck(type="checkbox")
        label.form-check-label(for="gridCheck") Check me out
      button.btn.btn-primary.mt-2(type="submit") Sign in
    +collapseButton("#form-grid-example-structure") Structure
    ul.struct.mt-2.collapse#form-grid-example-structure
      li Form 
        code form
        ul
          li First row (Email/Password) 
            code div.form-row
            ul
              li
                code div.form-group.col-md-6
                |  : 6/12 (left) on &ge;md, stacked on &lt;md
                ul
                  li
                    code label
                    strong  Email
                    |  and 
                    code input
                    strong  Email
              li
                code div.form-group.col-md-6
                |  : 6/12 (right) on &ge;md, stacked on &le;md
                ul
                  li
                    code label
                    strong  Password
                    |  and 
                    code input
                    strong  Password
          li Second (Address) and third (Address 2) rows are the same as 
            a(href="#basic-example") Basic example
          li Fourth row (City/State/Zip) 
            code div.form-row
            ul
              li
                code div.form-group.col-md-6
                |  : 6/12 (left) on &ge;md, stack on &lt;md
                ul
                  li
                    code label
                    strong  City
                    |  and 
                    code input
              li
                code div.form-group.col-md-4
                |  : 4/12 (center) on &ge;md, stacked on &lt;md
                ul
                  li
                    code label
                    strong  State
                    |  and 
                    code select
                    strong  Choose...
              li
                code div.form-group.col-md-2
                |  : 2/12 (right) on &ge;md, stacked on &lt;md
                ul
                  li
                    code label
                    strong  Zip
                    |  and 
                    code input
          li Fifth (Check me out) and sixth (Sign in) rows are the same as 
            a(href="#basic-example") Basic example
    h4.mt-4.mb-3#horizontal-form
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#horizontal-form") Horizontal form
    +collapseButton("#horizontal-form-summary") Summary
    ul.mt-2.mb-3.collapse#horizontal-form-summary
      li Add 
        code .row
        |  to 
        code div.form-group
        |  ⇒ 
        code div.form-group.row
      li Add 
        code .col-form-label
        |  to 
        code label
        |  ⇒ 
        code label.col-form-label
      li Use 
        code .col-{breakpoint}-{width}
        |  for responsive layout
    form.mt-3.mb-4
      div.form-group.row
        label.col-sm-2.col-form-label(for="inputEmail3") Email
        div.col-sm-10
          input.form-control#inputEmail3(type="email" placeholder="Email")
      div.form-group.row
        label.col-sm-2.col-form-label(for="inputPassword3") Password
        div.col-sm-10
          input.form-control#inputPassword3(type="password" placeholder="Password")
      fieldset.form-group
        div.row
          legend.col-form-label.col-sm-2.pt-0 Radios
          div.col-sm-10
            div.form-check
              input.form-check-input#gridRadios1(type="radio" name="gridRadios" value="option1" checked)
              label.form-check-label(for="gridRadios1") First radio
            div.form-check
              input.form-check-input#gridRadios2(type="radio" name="gridRadios" value="option2")
              label.form-check-label(for="gridRadios2") Second radio
            div.form-check.disabled
              input.form-check-input#gridRadios3(type="radio" name="gridRadios" value="option3" disabled)
              label.form-check-label(for="gridRadios3") Third disabled radio
      div.form-group.row
        div.col-sm-2 Checkbox
        div.col-sm-10
          div.form-check
            input.form-check-input#gridCheck1(type="checkbox")
            label.form-check-label(for="gridCheck1") Example checkbox
      button.btn.btn-primary(type="submit") Sign in
    +collapseButton("#horizontal-form-structure") Structure
    ul.struct.mt-2.collapse#horizontal-form-structure
      li Form 
        code form
        ul
          li First row (example for 
            a(href="#form-controls") Form controls
            | ) 
            code div.form-group.row
            ul
              li Label (column) 
                code label.col-form-label
                +attrsBtn(".a8-1")
                ul
                  li.cls.collapse.a8-1 Layout (2/12 on &ge;sm, 100% on &lt;sm) 
                    code .col-sm-2
                  li.att.collapse.a8-1 Attribute 
                    code for="inputEmail3"
                  li.txt Text 
                    code Email
              li Column (10/12 on &ge;sm) 
                code div.col-sm-10
                ul
                  li Control 
                    code= `input.form-control`
                    |  (same attributes as former examples)
          li Second row (Password) - same way as the first row
          li Third row (example for 
            a(href="#default-stacked-radios") Radios
            | ) 
            code fieldset.form-group
            ul
              li Row 
                code div.row
                ul
                  li Title (column) 
                    code legend.col-form-label
                    +attrsBtn(".a8-2")
                    ul
                      li.cls.collapse.a8-2 Layout (2/12 on &ge;sm) 
                        code .col-sm-2
                      li.cls.collapse.a8-2 Padding adjustment 
                        code .pt-0
                      li.txt Text 
                        code Radios
                  li Row (10/12 on &ge;sm) 
                    code div.col-sm-10
                    ul
                      li Inside - same way as 
                        a(href="#default-stacked-radios") Radios example
          li Fourth row (example for 
            a(href="#default-stacked-checks") Checkboxes
            | ) 
            code div.form-group.row
            ul
              li Title (2/12 column on &ge;sm) 
                code div.col-sm-2
                ul
                  li.txt Text 
                    code Checkbox
                li Column (10/12 on &ge;sm) 
                  code div.col-sm-10
                  ul
                    li Inside - same way as 
                      a(href="#default-stacked-checks") Checkboxes example
          li Button ( 
            strong Sign in
            |  ) - same way as 
            a(href="#basic-example") Basic example
    h5.mt-4#horizontal-form-label-sizing
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#horizontal-form-label-sizing") Horizontal form label sizing
    p.my-2 On horizontal forms, a form control and its corresponding label should have the same sizing.
    ul
      li Left (label): Add 
        code .col-form-label-(sm|lg)
        |  to 
        code (label|legend).col-form-control
      li Right (form control): Add 
        code .form-control-(sm|lg)
        |  (see 
        a(href="#sizing") Sizing
        | )
    h5.mt-4#horizontal-form-label-sizing-example Examples
    each sz in ["sm", null, "lg"]
      p.my-2 Left: 
        code= `label.col-form-label${sz ? `.col-form-label-${sz}` : ""}`
        | , Right: 
        code= `input.form-control${sz ? `.form-control-${sz}` : ""}`
      form.mb-3
        div.form-group.row
          -let id = `size-demo-${sz ? sz : "default"}`
          label(for=id class=`col-sm-2 col-form-label${sz ? ` col-form-label-${sz}` : ""}`) Email
          div.col-sm-10
            input(type="email" class=`form-control${sz ? ` form-control-${sz}` : ""}` id=id placeholder="Enter email")
    h5.mt-4#column-sizing
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#column-sizing") Column sizing
    p.mt-2.mb-3 Example using 
      a(href="layout-1.html#grid") Grid
      |  to set column widths.
    form.mb-4
      div.form-row
        div.col-7
          input.form-control(type="text" placeholder="City")
        div.col
          input.form-control(type="text" placeholder="State")
        div.col
          input.form-control(type="text" placeholder="Zip")
    +collapseButton("#column-sizing-structure") Structure
    ul.struct.mt-2.collapse#column-sizing-structure
      li Form 
        code form
        ul
          li Form row 
            code div.form-row
            ul
              li Column (7/12) 
                code div.col-7
                |  - 
                a(href="#form-controls") Form control
                |  (City) inside
              li Column (5/12 / 2 ⇒ 5/24) 
                code div.col
                |  - 
                a(href="#form-controls") Form control
                |  (State) inside
              li Column (5/12 / 2 ⇒ 5/24) 
                code div.col
                |  - 
                a(href="#form-controls") Form control
                |  (Zip) inside
    h5.mt-4#auto-sizing
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#auto-sizing") Auto-sizing
    p.mt-2.mb-3 Changing the columns' class from 
      code .col
      |  to 
      code .col(-sm|-md|-lg|-xl)?-auto
      |  sets widths to browser defaults (⇒ 
      a(href="layout-1.html#variable-width-content") Grid - Variable width content
      | ). It can be used for inline layouts.
    div.alert.alert-info(role="alert") The next section 
      a(href="#inline-forms") Inline forms
      |  is also available for inline layouts. Inline forms has a responsive preset on sm breakpoint (switches between inline and stacked). On the other hand, auto-sizing has no responsive preset (can be set manually).
    h5.mt-4.mb-3#auto-sizing-example-1 Example 1
    form.mb-4
      div.form-row.align-items-center
        div.col-auto.my-1
          label.sr-only(for="inlineFormInput") Name
          input.form-control#inlineFormInput(type="text" placeholder="Jane Doe")
        div.col-auto.my-1
          label.sr-only(for="inlineFormInputGroup") Username
          div.input-group
            div.input-group-prepend
              div.input-group-text @
            input.form-control#inlineFormInputGroup(type="text" placeholder="Username")
        div.col-auto.my-1
          div.form-check
            input.form-check-input#autoSizingCheck(type="checkbox")
            label.form-check-label(for="autoSizingCheck") Remember me
        div.col-auto.my-1
          button.btn.btn-primary(type="submit") Submit
    +collapseButton("#auto-sizing-example-1-structure") Structure
    ul.struct.mt-2.collapse#auto-sizing-example-1-structure
      li Form 
        code form
        ul
          li Form row (center-aligned) 
            code div.form-row.align-items-center
            ul
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a9-1")
                ul
                  li.cls.collapse.a9-1 Vertical margin 
                    code .my-1
                  li Label for accessibility (invisible) 
                    code label.sr-only
                    |  (⇒ 
                    a(href="#auto-sizing-example-1-note") Note 2
                    | )
                    +attrBtn(".a9-2")
                    ul
                      li.att.collapse.a9-2 Attribute 
                        code for="inlineFormInput"
                      li.txt Text 
                        code Name
                  li Form control 
                    code input.form-control
                    +attrsBtn(".a9-3")
                    ul.collapse.a9-3
                      li.att Attribute 
                        code id="inlineFormInput"
                      li.att Attribute 
                        code type="text"
                      li.att Attribute 
                        code placeholder="Jane Doe"
                        |  (behaves as an actual label for visible users)
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a9-4")
                ul
                  li.cls.collapse.a9-4 Vertical margin 
                    code .my-1
                  li Label for accessibility (invisible) 
                    code label.sr-only
                    +attrBtn(".a9-5")
                    ul
                      li.att.collapse.a9-5 Attribute 
                        code for="inlineFormInputGroup"
                      li.txt Text 
                        code Username
                  li
                    a(href="components-6.html#input-group") Input group
                    |  (Username) 
                    code div.input-group
                    ul
                      li See 
                        a(href="components-6.html#basic-example-prepend") Input group example - Prepending
                        |  for inside
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a9-6")
                ul
                  li.cls.collapse.a9-6 Vertical margin 
                    code .my-1
                  li
                    a(href="#checkboxes-and-radios") Checkbox 
                    code div.form-check
                    ul
                      li Control 
                        code input.form-check-input
                        +attrsBtn(".a9-7")
                        ul.collapse.a9-7
                          li.att Attribute 
                            code id="autoSizingCheck"
                          li.att Attribute 
                            code type="checkbox"
                      li Label 
                        code label.form-check-label
                        +attrBtn(".a9-8")
                        ul
                          li.att.collapse.a9-8 Attribute 
                            code for="autoSizingCheck"
                          li.txt Text 
                            code Remember me
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a9-9")
                ul
                  li.cls.collapse.a9-9 Vertical margin 
                    code .my-1
                  li Button 
                    code button.btn.btn-primary
                    +attrBtn(".a9-10")
                    ul
                      li.att.collapse.a9-10 Attribute 
                        code type="submit"
                      li.txt Text 
                        code Submit
    p.mt-3 This example is nearly the same as the next 
      a(href="#inline-forms-example") Inline form - Basic example
      | . The defference is a behavior below sm breakpoint (&lt;576px). An inline form cancels 
      code auto
      |  and switchs to the vertically stacked layout. The example above always fold elements to the next row with 
      code auto
      | .
    div.alert.alert-warning#auto-sizing-example-1-note(role="alert") 
      strong Note 2: 
      | On inline layouts, the 
      code placeholder
      |  attribute is often used for the role of label with displaying a default value (no label is needed for visible users in this case). But 
      code label
      |  should be needed for screenreader users. Utilize 
      code .sr-only
      |  (⇒ 
      a(href="utilities-4.html#screenreaders") Screenreaders
      | ) for visible uses.
    h5.mt-4.mb-3#auto-sizing-example-2 Example 2
    p.mt-2.mb-3 An example for responsive behaviors (modified from the official document example).
    form.mb-4
      div.form-row.align-items-center
        div.col-sm-6.col-md-4.col-lg-3.my-1
          label.sr-only(for="inlineFormInputName") Name
          input.form-control#inlineFormInputName(type="text" placeholder="Jane Doe")
        div.col-sm-6.col-md-4.col-lg-3.my-1
          label.sr-only(for="inlineFormInputGroupUsername") Username
          div.input-group
            div.input-group-prepend
              div.input-group-text @
            input.form-control#inlineFormInputGroupUsername(type="text" placeholder="Username")
        div.col-auto.my-1
          div.form-check
            input.form-check-input#autoSizingCheck2(type="checkbox")
            label.form-check-label(for="autoSizingCheck2") Remember me
        div.col-auto.my-1
          button.btn.btn-primary(type="submit") Submit
    +collapseButton("#auto-sizing-example-2-structure") Structure
    ul.struct.mt-2.collapse#auto-sizing-example-2-structure
      li Form 
        code form
        ul
          li Form row (center-aligned) 
            code div.form-row.align-items-center
            ul
              li
                code div.col-sm-6.col-md-4.col-lg-3.my-1
                |  +Inside (hidden label + form control)
              li
                code div.col-sm-6.col-md-4.col-lg-3.my-1
                |  +Inside (input group)
              li
                code div.col-auto
                |  +Inside (checkbox)
              li
                code div.col-auto
                |  +Inside (button)
    p.my-3 It looks same as 
      a(href="#auto-sizing-example-1") example 1
      |  on width&ge;lg (992px). But responsive widths are adjusted for that the form control and the input group has enough widths on sm and md breakpoints.
    div.alert.alert-info(role="alert") Original setting (from the official document) is 
      code div.col-sm-3(.my-1)
      | . But widths (of a form control and a input group) are insufficient on sm and md. Above example adjusts responsive behaviors on all widths.
    h5.mt-4.mb-3#auto-sizing-example-3 Example 3
    p.my-3 Inline variation with 
      a(href="#custom-forms") custom form controls
      |  (modified from the official document example).
    form.mb-4
      div.form-row.align-items-center
        div.col-auto.my-1
          label.mr-sm-2(for="inlineFormCustomSelect") Preference
          select.custom-select.mr-sm-2#inlineFormCustomSelect(style="width: auto;")
            option(selected) Choose...
            each item in [[1,"One"],[2,"Two"],[3,"Three"]]
              option(value=item[0])= item[1]
        div.col-auto.my-1
          div.custom-control.custom-checkbox.mr-sm-2
            input.custom-control-input#customControlAutosizing(type="checkbox")
            label.custom-control-label(for="customControlAutosizing") Remember my preference
        div.col-auto.my-1
          button.btn.btn-primary(type="submit") Submit
    +collapseButton("#auto-sizing-example-3-structure") Structure
    ul.struct.mt-2.collapse#auto-sizing-example-3-structure
      li Form 
        code form
        ul
          li Form row (center-aligned) 
            code div.form-row.align-items-center
            ul
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a10-1")
                ul
                  li.cls.collapse.a10-1 Vertical margin 
                    code .my-1
                  li Label 
                    code label
                    +attrsBtn(".a10-2")
                    ul
                      li.cls.collapse.a10-2 Horizontal margin 
                        code .mr-sm-2
                      li.att.collapse.a10-2 Attribute 
                        code for="inlineFormCustomSelect"
                      li.txt Text 
                        code Preference
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a10-3")
                ul
                  li.cls.collapse.a10-3 Vertical margin 
                    code .my-1
                  li
                    a(href="#select-menu") Custom select 
                    code select.custom-select
                    +attrsBtn(".a10-4")
                    ul
                      li.cls.collapse.a10-4 Horizontal margin 
                        code .mr-sm-2
                      li.att.collapse.a10-4 Attribute 
                        code id="inlineFormCustomSelect"
                      li.att.collapse.a10-4 Custom style 
                        code style="width: auto;"
                        |  (⇒ 
                        a(href="#auto-sizing-example-3-note") Note 3
                        |  )
                      li Items (&times;4) 
                        code option ...
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a10-5")
                ul
                  li.cls.collapse.a10-5 Vertical margin 
                    code .my-1
                  li
                    a(href="#checkboxes") Custom checkbox 
                    code div.custom-control.custom-checkbox
                    +attrBtn(".a10-6")
                    ul
                      li.cls.collapse.a10-6 Horizontal margin 
                        code .mr-sm-2
                      li Control 
                        code input.custom-control-input
                        +attrsBtn(".a10-7")
                        ul.collapse.a10-7
                          li.att Attribute 
                            code id="customControlAutosizing"
                          li.att Attribute 
                            code type="checkbox"
                      li Label 
                        code label.custom-control-label
                        +attrBtn(".a10-8")
                        ul
                          li.att.collapse.a10-8 Attribute 
                            code for="customControlAutosizing"
                          li.txt Text 
                            code Remember my preference
              li Column (auto-sizing) 
                code div.col-auto
                +attrBtn(".a10-9")
                ul
                  li.cls.collapse.a10-9 Vertical margin 
                    code .my-1
                  li Button 
                    code button.btn.btn-primary
                    +attrBtn(".a10-10")
                    ul
                      li.att.collapse.a10-10 Attribute 
                        code type="submit"
                      li.txt Text 
                        code Submit
    div.alert.alert-warning.mt-3#auto-sizing-example-3-note(role="alert")
      strong Note 3: 
      | The original example does not set width of a custom 
      code select
      |  (
      code width: 100%;
      |  by default). As the result, a custom 
      code select
      |  does not arrange inline. This example uses a custom style to fix this problem.
    h4.mt-4.mb-3#inline-forms
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#inline-forms") Inline forms
    p.my-2
      code (form).form-inline
      |  can be used for inline (horizontal) layouts. It sets layout settings as follows.
    ul.my-2
      li Changes inner control elements from 
        code display:block
        |  to 
        code display:flex
      li Changes inner components widths from 
        code width:100%
        |  to 
        code width:auto
      li Above settings are canceled if the viewport width&lt;576px
        ul
          li Switches layouts on the sm breakpoint (inline on &ge;576px, vertically stacked on &lt;576px)
    div.alert.alert-info It is similar to 
      a(href="auto-sizing") auto-sizing
      | . But it is customized for using in 
      a(href="components-10.html") navigation bar
      | s and can be built with simpler structure. It is responsive as default with sm breakpoint (fixed, you have to use auto-sizing if you need different behaviors).
    h5.mt-3#inline-forms-tips Tips
    ul
      li Margins among elements are set to 
        code auto
        | . Use 
        a(href="utilities-4.html#spacing") Spacing utilities
        |  to adjust them.
      li Use 
        code label
        |  for accessibility. Add 
        code .sr-only
        |  if it is not needed for visible uses (⇒ 
        a(href="#auto-sizing-example-1-note") Note 2
        | ).
    h5.mt-4.mb-3#inline-forms-example Basic example
    form.form-inline.mb-4
      label.sr-only(for="inlineFormInputName2") Name
      input.form-control.my-1.mr-sm-2#inlineFormInputName2(type="text" placeholder="Jane Doe")
      label.sr-only(for="inlineFormInputGroupUsername2") Username
      div.input-group.my-1.mr-sm-2
        div.input-group-prepend
          div.input-group-text @
        input.form-control#inlineFormInputGroupUsername2(type="text" placeholder="Username")
      div.form-check.my-1.mr-sm-2
        input.form-check-input#inlineFormCheck(type="checkbox")
        label.form-check-label(for="inlineFormCheck") Remember me
      button.btn.btn-primary.my-1(type="submit") Submit
    ul.mt-3
    +collapseButton("#inline-forms-example-structure") Structure
    ul.struct.mt-2.collapse#inline-forms-example-structure
      li Inline form 
        code form.form-inline
        ul
          li Label for accessibility (invisible) 
            code label.sr-only
            +attrBtn(".a11-1")
            ul
              li.att.collapse.a11-1 Attribute 
                code for="inlineFormInputName2"
              li.txt Text 
                code Name
          li Control 
            code input.form-control
            +attrsBtn(".a11-2")
            ul.collapse.a11-2
              li.cls Margin adjustment 
                code .my-1.mr-sm-2
              li.att Attribute 
                code id="inlineFormInputName2"
              li.att Attribute 
                code type="text"
              li.att Attribute 
                code placeholder="Jane Doe"
                |  (actual label for visible users)
          li Label for accessibility (invisible) 
            code label.sr-only
            +attrBtn(".a11-3")
            ul
              li.att.collapse.a11-3 Attribute 
                code for="inlineFormInputGroupUsername2"
              li.txt Text 
                code Username
          li
            a(href="components-6.html#input-group") Input group
            |  (Username) 
            code div.input-group
            +attrBtn(".a11-4")
            ul
              li.cls.collapse.a11-4 Margin adjustment 
                code .my-1.mr-sm-2
              li See 
                a(href="components-6.html#basic-example-prepend") Input group - Prepending
                |  for inside
          li
            a(href="#checkboxes-and-radios") Checkbox 
            code div.form-check
            +attrBtn(".a11-5")
            ul
              li.cls.collapse.a11-5 Margin adjustment 
                code .my-1.mr-sm-2
              li Control 
                code input.form-check-input
                +attrsBtn(".a11-6")
                ul.collapse.a11-6
                  li.att Attribute 
                    code id="inlineFormCheck"
                  li.att Attribute 
                    code type="checkbox"
              li Label 
                code label.form-check-label
                +attrBtn(".a11-7")
                ul
                  li.att.collapse.a11-7 Attribute 
                    code for="inlineFormCheck"
                  li.txt Text 
                    code Remember me
          li Button 
            code button.btn.btn-primary
            +attrsBtn(".a11-8")
            ul
              li.cls.collapse.a11-8 Margin adjustment 
                code .my-1
              li.att.collapse.a11-8 Attribute 
                code type="submit"
              li.txt Text 
                code Submit
    div.alert.alert-info.mt-3(role="alert") You do not have to add 
      code .form-check-inline
      |  to a checkbox (or a radio) block 
      code div.form-check
      | . Outer 
      code form.form-inline
      |  sets everything for inline checkboxes and radios.
    h5.mt-4.mb-3#inline-forms-example-custom Example using 
      a(href="#custom-forms") custom forms

    form.form-inline.mb-4
      label.my-1.mr-2(for="inlineFormCustomSelectPref") Preference
      select.custom-select.my-1.mr-sm-2#inlineFormCustomSelectPref
        option(selected) Choose...
        each item in [[1,"One"],[2,"Two"],[3,"Three"]]
          option(value=item[0])= item[1]
      div.custom-control.custom-checkbox.my-1.mr-sm-2
        input.custom-control-input#customControlInline(type="checkbox")
        label.custom-control-label(for="customControlInline") Remember my preference
      button.btn.btn-primary.my-1(type="submit" ) Submit
    +collapseButton(".inline-forms-example-custom-structure") Structure
    ul.struct.mt-2.collapse.inline-forms-example-custom-structure
      li Inline form 
        code form.form-inline
        ul
          li Label 
            code label
            +attrsBtn(".a12-1")
            ul
              li.cls.collapse.a12-1 Margins 
                code .my-1.mr-2
              li.att.collapse.a12-1 Attribute 
                code for="inlineFormCustomSelectPref"
              li.txt Text 
                code Preference
          li
            a(href="#select-menu") Custom select 
            code select.custom-select
            +attrBtn(".a12-2")
            ul
              li.cls.collapse.a12-2 Margins 
                code .my-1.mr-sm-2
              li.att.collapse.a12-2 Attribute 
                code id="inlineFormCustomSelectPref"
              li Items (&times;4) 
                code option ...
          li
            a(href="#checkboxes") Custom checkbox 
            code div.custom-control.custom-checkbox
            +attrsBtn(".a12-3")
            ul
              li.cls.collapse.a12-3 Margins 
                code .my-1.mr-sm-2
              li Control 
                code input.custom-control-input
                +attrsBtn(".a12-4")
                ul.collapse.a12-4
                  li.att Attribute 
                    code id="customControlInline"
                  li.att Attribute 
                    code type="checkbox"
              li Label for custom form controls 
                code label.custom-control-label
                +attrBtn(".a12-5")
                ul
                  li.att.collapse.a12-5 Attrubute 
                    code for="customControlInline"
                  li.txt Text 
                    code Remember my preference
          li Button 
            code button.btn.btn-primary
            +attrsBtn(".a12-6")
            ul
              li.cls.collapse.a12-6 Margins 
                code .my-1
              li.att.collapse.a12-6 Attribute 
                code type="submit"
              li.txt Text 
                code Submit
    h4.mt-4#help-text
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#help-text") Help text
    p.mt-2.mb-3 Use 
      code small.form-text(.text-muted)
      |  for stacked or horizontal layouts. Considering accessibility, a help text should have ID to be referenced by 
      code aria-describedby
      |  attribute. 
    label(for="inputPassword5") Password
    input.form-control#inputPassword5(type="password" aria-describedby="passwordHelpBlock")
    small.form-text.text-muted.mb-4#passwordHelpBlock Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    +collapseButton("#help-text-example-structure") Structure
    ul.struct.mt-2.collapse#help-text-example-structure
      li Label 
        code label
        +attrBtn(".a13-1")
        ul
          li.att.collapse.a13-1 Attribute 
            code for="inputPassword5"
          li.txt Text 
            code Password
      li Control 
        code input.form-control
        +attrsBtn(".a13-2")
        ul.collapse.a13-2
          li.att Attribute 
            code id="inputPassword5"
          li.att Attribute 
            code type="password"
          li.att Accessibility attribute 
            code aria-describedby="passwordHelpBlock"
      li Help text 
        code small.form-text.text-muted
        +attrBtn(".a13-3")
        ul
          li.att.collapse.a13-3 Accessibility attribute 
            code id="passwordHelpBlock"
          li.txt Text 
            code Your password must be 8-20 characters long, ...
    p.my-3 Remove 
      code .form-text
      |  for inline layouts.
    form.form-inline.mb-4
      label(for="inputPassword6") Password
      input.form-control.mx-sm-3#inputPassword6(type="password" aria-describedby="passwordHelpInline")
      small.text-muted#passwordHelpInline Must be 8-20 characters long.
    +collapseButton("#help-text-example-inline-structure") Structure
    ul.struct.mt-2.collapse#help-text-example-inline-structure
      li Inline form 
        code form.form-inline
        ul
          li Label 
            code label
            +attrBtn(".a14-1")
            ul
              li.att.collapse.a14-1 Attribute 
                code for="inputPassword3"
              li.txt Text 
                code Password
          li Control 
            code input.form-control
            +attrsBtn(".a14-2")
            ul.collapse.a14-2
              li.cls Margin adjustment 
                code .mx-sm-3
              li.att Attribute 
                code id="inputPassword6"
              li.att Attribute 
                code type="password"
              li.att Accessibility attribute 
                code aria-describedby="passwordHelpInline"
          li Help text 
            code small.text-muted
            +attrBtn(".a14-3")
            ul
              li.att.collapse.a14-3 Accessibility attribute 
                code id="passwordHelpInline"
              li.txt Text 
                code Must be 8-20 characters long.
    h4.mt-4#disabled-forms
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#disabled-forms") Disabled forms
    p.mt-2.mb-3 You can set the attribute 
      code disabled
      |  to disable a control element. You can also wrap control elements with a 
      code fieldset
      |  and set 
      code disabled
      |  to disable all controls inside (⇒ 
      a(href="#disabled-forms-note") Note 4
      | ).
    form.mb-4
      fieldset(disabled)
        div.form-group
          label(for="disabledTextInput") Disabled input
          input.form-control#disabledTextInput(type="text" placeholder="Disabled input")
        div.form-group
          label(for="disabledSelect") Disabled select menu
          select.form-control#disabledSelect
            option Disabled select
        div.form-check
          input.form-check-input#disabledFieldsetCheck(type="checkbox" disabled)
          label.form-check-label(for="disabledFieldsetCheck") Can't check this
        button.btn.btn-primary.mt-2(type="submit") Submit
    +collapseButton("#disabled-example-structure") Structure
    ul.struct.mt-2.collapse#disabled-example-structure
      li Form 
        code form
        ul
          li
            code fieldset 
            +attrBtn(".a15-1")
            ul
              li.att.collapse.a15-1 Attribute 
                code disabled
              li Child elements here - all controls are set to 
                code disabled
    div.alert.alert-warning.mt-3#disabled-forms-note(role="alert")
      strong Note 4: 
      | (Apr. 2018) As checked with Chrome, Firefox, IE11, and Edge, IE11 does not support completely (does not disable Submit button). According to the official document, similar problem also occurs on IE10.
    h4.mt-4#validation
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#validation") Validation
    p.my-2 HTML validation was introduced in HTML version 5.0 (see 
      +extLink("https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Data_form_validation") MDN - Form data validation
      | ). Now it is supported for all modern browsers (see 
      +extLink("https://caniuse.com/#feat=form-validation") Can I Use
      | ). But browsers' default behaviors are inconsistent and also their validation messages are difficult to recognize for assistive technologies (e.g. screen readers).
    p.my-2 Bootstrap has made thier custom validation styles since version 4.0. It is made for improvement of consistency among browsers and message accessibility for assistive technologies.
    h5.mt-4#browser-defaults
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#browser-defaults") Browser defaults
    p.mt-2.mb-3 The example below shows browser default validation behaviors. Note that each behavior heavily varies among browsers (check this example for yourself with various browsers).
    form.mb-4
      div.form-row
        div.col-md-4.mb-3
          label(for="validationDefault01") First name
          input.form-control#validationDefault01(type="text" placeholder="First name" value="Mark" required)
        div.col-md-4.mb-3
          label(for="validationDefault02") Last name
          input.form-control#validationDefault02(type="text" placeholder="Last name" value="Otto" required)
        div.col-md-4.mb-3
          label(for="validationDefaultUsername") Username
          div.input-group
            div.input-group-prepend
              span.input-group-text#inputGroupPrepend2 @
            input.form-control#validationDefaultUsername(type="text" placeholder="Username" aria-describedby="inputGroupPrepend2" required)
      div.form-row
        div.col-md-6.mb-3
          label(for="validationDefault03") City
          input.form-control#validationDefault03(type="text" placeholder="City" required)
        div.col-md-3.mb-3
          label(for="validationDefault04") State
          input.form-control#validationDefault04(type="text" placeholder="State" required)
        div.col-md-3.mb-3
          label(for="validationDefault05") Zip
          input.form-control#validationDefault05(type="text" placeholder="Zip" required pattern="[0-9]{5}")
      div.form-group
        div.form-check
          input.form-check-input#invalidCheck2(type="checkbox" value="" required)
          label.form-check-label(for="invalidCheck2") Agree to terms and conditions
      button.btn.btn-primary(type="submit") Submit form
    +collapseButton("#browser-defaults-summary") Summary
    ul.mt-2.collapse#browser-defaults-summary
      li Adds 
        code required
        |  to all 
        code input
        | s to validate (enables browser's validation)
      li Pressing 
        strong Submit form
        |  executes validation
        ul
          li Submits if all inputs have (valid) values
          li Stops submission if at least one value is empty (i.e. invalid)
            ul
              li Notice: Some (old) browsers may always submit.
          li Other behaviors (especially visual effects) depend on browsers
      li (Optional) You can set input patterns (regular expression) width 
        code pattern
        ul
          li e.g. US zip code (set to above example) 
            code pattern="[0-9]{5}"
    h5.mt-4#custom-styles
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#custom-styles") Bootstrap 4 styles
    p.mt-2.mb-3 The example below demonstrates Bootstrap 4 style validation.
    form.mb-4.needs-validation(novalidate)
      div.form-row
        div.col-md-4.mb-3
          label(for="validationCustom01") First name
          input.form-control#validationCustom01(type="text" placeholder="First name" value="Mark" required)
          div.valid-feedback Looks good!
          div.invalid-feedback Please input your name.
        div.col-md-4.mb-3
          label(for="validationCustom02") Last name
          input.form-control#validationCustom02(type="text" placeholder="Last name" value="Otto" required)
          div.valid-feedback Looks good!
        div.col-md-4.mb-3
          label(for="validationCustomUsername") Username
          div.input-group
            div.input-group-prepend
              span.input-group-text#inputGroupPrepend @
            input.form-control#validationCustomUsername(type="text" placeholder="Username" aria-describedby="inputGroupPrepend" required)
            div.invalid-feedback Please choose a username.
      div.form-row
        div.col-md-6.mb-3
          label(for="validationCustom03") City
          input.form-control#validationCustom03(type="text" placeholder="City" required)
          div.invalid-feedback Please provide a valid city.
        div.col-md-3.mb-3
          label(for="validationCustom04") State
          input.form-control#validationCustom04(type="text" placeholder="State" required)
          div.invalid-feedback Please provide a valid state.
        div.col-md-3.mb-3
          label(for="validationCustom05") Zip
          input.form-control#validationCustom05(type="text" placeholder="Zip" required)
          div.invalid-feedback Please provide a valid zip.
      div.form-group
        div.form-check
          input.form-check-input#invalidCheck(type="checkbox" value="" required)
          label.form-check-label(for="invalidCheck") Agree to terms and conditions
          div.invalid-feedback You must agree before submitting.
      button.btn.btn-primary(type="submit") Submit form
    p.mt-3.mb-2 HTML markups.
    +collapseButton("#validation-html-summary") HTML summary
    ul.struct.mt-2.collapse#validation-html-summary
      li Sets to 
        code form
        |  as below
        ul
          li.att Attribute 
            code novalidate
            |  (disables browser default validation)
          li.att Any CSS selector ⇒ 
            code .needs-validation
            |  used in this page
      li Sets as below to the elements to validate
        ul
          li.cls Class (form control) 
            code .form-control
          li.att Attribute for validation: e.g. 
            code required
      li Adds each validation feedback message to a following sibling
        ul
          li.cls On valid 
            code (div).valid-feedback
          li.cls On invalid 
            code (div).invalid-feedback
    p.mt-3.mb-2 Uses Bootstrap 4 CSS validation.
    +collapseButton("#validation-css-summary") CSS summary
    ul.mt-2.collapse#validation-css-summary
      li Triggers with setting 
        code .was-validated
        |  to an ancestor (typically a 
        code form
        | )
        ul
          li Does not set on the initial state
          li (Typically) sets on submission
      li Sets 
        code .form-control
        |  to control elements to validate
        ul
          li Shows green border on 
            code .was-validated
            |  to an ancestor and 
            code :valid
            |  to itself
          li Shows red border on 
            code .was-validated
            |  to an ancestor and 
            code :invalid
            |  to itself
      li (Optional) Sets (a) feedback message(s) as latter sibling of each control element
        ul
          li Valid message 
            code .valid-feedback
            |  : displays on
            ul
              li Set 
                code .was-validated
                |  to an ancestor
              li Set 
                code :valid
                |  to a former 
                code .form-control
          li Invalid message 
            code .invalid-feedback
            |  : displays on
            ul
              li Set 
                code .was-validated
                |  to an ancestor
              li Set 
                code :invalid
                |  to a former 
                code .form-control
    p.mt-3.mb-2 Needs JavaScript.
    +collapseButton("#validation-javascript-summary") JavaScript summary
    ul.mt-2.collapse#validation-javascript-summary
      li Sets 
        code submit
        |  event handler to the corresponding 
        code form
        |  (e.g. 
        code .needs-validation
        |  )
      li In event handler:
        ul
          li executes validation 
            code {form}.checkValidity()
            ul
              li Sets 
                code :valid
                |  pseudo-class to valid controls
              li Sets 
                code :invalid
                |  pseudo-class to invalid controls
          li Intercepts submission if validation returns false
            ul
              li
                code event.preventDefault()
              li
                code event.stopPropagation()
          li Sets 
            code .was-validated
            |  to the form
    div.mt-3
      +collapseButton("#validation-javascrip-dom") DOM example
      | &nbsp;
      +collapseButton("#validation-javascrip-jquery") jQuery example
    pre.p-2.border.bg-light.mt-3.collapse#validation-javascrip-dom
      code
        | // DOM version (from official document)
        | (function() {
        |   'use strict';
        |   window.addEventListener('load', function() {
        |     // Fetch all the forms we want to apply custom Bootstrap validation styles to
        |     var forms = document.getElementsByClassName('needs-validation');
        |     // Loop over them and prevent submission
        |     var validation = Array.prototype.filter.call(forms, function(form) {
        |       form.addEventListener('submit', function(event) {
        |         if (form.checkValidity() === false) {
        |           event.preventDefault();
        |           event.stopPropagation();
        |         }
        |         form.classList.add('was-validated');
        |       }, false);
        |     });
        |   }, false);
        | })();
    pre.p-2.border.bg-light.mt-3.collapse#validation-javascrip-jquery
      code
        | // jQuery version
        | $('.needs-validation').on('submit', function(event) {
        |   if (!this.checkValidity()) {
        |     event.preventDefault();
        |     event.stopPropagation();
        |   }
        |   $(this).addClass('was-validated');
        | });

    h5.mt-4#server-side
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#server-side") Server-side validation
    p.my-2 Bootstrap also supports for server-side validation behaviors. But pseudo-class 
      code :valid
      |  or 
      code :invalid
      |  cannot be set from server-side. Bootstrap CSS provides 
      code .is-valid 
      |  and 
      code .is-invalid 
      |  for alternatives of corresponding pseudo-classes.
    +collapseButton("#server-side-summary") Summary
    ul.struct.mt-2.collapse#server-side-summary
      li
        code form
        |  (
        code .was-validated
        |  is not needed)
        ul
          li Sets one of them (alternative of pseudo-class) to each form control
            ul
              li.cls Valid 
                code .is-valid
              li.cls Invalid 
                code .is-invalid
          li Feedback messages are same say as above
            ul
              li.cls On valid 
                code .valid-feedback
              li.cls On invalid 
                code .invalid-feedback
    p.my-3 The example below is showing 
      strong First name
      |  and 
      strong Last name
      |  are valid but all others are invalid.
    form.mb-4
      div.form-row
        div.col-md-4.mb-3
          label(for="validationServer01") First name
          input.form-control.is-valid#validationServer01(type="text" placeholder="First name" value="Mark" required)
          div.valid-feedback Looks good!
        div.col-md-4.mb-3
          label(for="validationServer02") Last name
          input.form-control.is-valid#validationServer02(type="text" placeholder="Last name" value="Otto" required)
          div.valid-feedback Looks good!
        div.col-md-4.mb-3
          label(for="validationServerUsername") Username
          div.input-group
            div.input-group-prepend
              span.input-group-text#inputGroupPrepend3 @
            input.form-control.is-invalid#validationServerUsername(type="text" placeholder="Username" aria-describedby="inputGroupPrepend3" required)
            div.invalid-feedback Please choose a username.
      div.form-row
        div.col-md-6.mb-3
          label(for="validationServer03") City
          input.form-control.is-invalid#validationServer03(type="text" placeholder="City" required)
          div.invalid-feedback Please provide a valid city.
        div.col-md-3.mb-3
          label(for="validationServer04") State
          input.form-control.is-invalid#validationServer04(type="text" placeholder="State" required)
          div.invalid-feedback Please provide a valid state.
        div.col-md-3.mb-3
          label(for="validationServer05") Zip
          input.form-control.is-invalid#validationServer05(type="text" placeholder="Zip" required)
          div.invalid-feedback Please provide a valid zip.
      div.form-group
        div.form-check
          input.form-check-input.is-invalid#invalidCheck3(type="checkbox" value="" required)
          label.form-check-label(for="invalidCheck3") Agree to terms and conditions
          div.invalid-feedback You must agree before submitting.
      button.btn.btn-primary(type="submit") Submit form
    +collapseButton("#server-side-html-summary") Summary
    ul.struct.mt-2.collapse#server-side-html-summary
      li
        code form
        |  (no class or attribute added)
      li Adds 
        code .is-valid
        |  to first two form controls (First name, Last name)
        ul
          li Controls and feedback messages display green
      li Adds 
        code .is-invalid
        |  to all other controls
        ul
          li Controls and feedback messages display red
    h5.mt-3#supported-elements
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#supported-elements") Using custom form controls
    p.mt-2.mb-3 Bootstrap 4 validation supports 
      a(href="#custom-forms") custom form controls
      | . The example below demonstrates validation behaviors of supported custom form controls. 
    form.was-validated.mb-4
      div.mb-3
        label(for="validationTextarea") Textarea
        textarea.form-control#validationTextarea(placeholder="Required example textarea" required)
        div.invalid-feedback Please enter a message in the textarea.
      div.custom-control.custom-checkbox.mb-3
        input.custom-control-input#customControlValidation1(type="checkbox" required)
        label.custom-control-label(for="customControlValidation1") Check this custom checkbox
        div.invalid-feedback Example invalid feedback text
      div.custom-control.custom-radio
        input.custom-control-input#customControlValidation2(type="radio" name="radio-stacked" required)
        label.custom-control-label(for="customControlValidation2") Toggle this custom radio
      div.custom-control.custom-radio.mb-3
        input.custom-control-input#customControlValidation3(type="radio" name="radio-stacked" required)
        label.custom-control-label(for="customControlValidation3") Or toggle this other custom radio
        div.invalid-feedback More example invalid feedback text
      div.form-group
        select.custom-select(required)
          option(value="") Open this select menu
          each item in [[1,"One"],[2,"Two"],[3,"Three"]]
            option(value=item[0])= item[1]
        div.invalid-feedback Example invalid custom select feedback
      div.custom-file
        input.custom-file-input#validatedCustomFile(type="file" required)
        label.custom-file-label(for="validatedCustomFile") Choose file...
        div.invalid-feedback Example invalid custom file feedback
    +collapseButton("#supported-elements-structure") Settings
    ul.struct.mt-2.collapse#supported-elements-structure
      li Sets 
        code .was-validated
        |  to 
        code form
        |  (demonstrates validating behaviors)
      li Sets 
        code required
        |  to controls as below
        ul
          li
            a(href="#form-controls-textarea") Textarea
          li
            a(href="#checkboxes") Custom checkbox
          li
            a(href="#radios") Custom radios
          li
            a(href="#select-menu") Custom select menu
          li
            a(href="#file-browser") Custom file browser
      li Validation messages are same way as above
    h5.mt-3#tooltips
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#tooltips") Tooltips
    p.mt-2.mb-3 Changing from 
      code .(valid|invalid)-feedback
      |  to 
      code .(valid|invalid)-tooltip
      |  displays a validation feedback message as a tooltip popup with translucent background.
    form.needs-validation.mb-4(novalidate)
      div.form-row
        div.col-md-4.mb-3
          label(for="validationTooltip01") First name
          input.form-control#validationTooltip01(type="text" placeholder="First name" value="Mark" required)
          div.valid-tooltip Looks good!
        div.col-md-4.mb-3
          label(for="validationTooltip02") Last name
          input.form-control#validationTooltip02(type="text" placeholder="Last name" value="Otto" required)
          div.valid-tooltip Looks good!
        div.col-md-4.mb-3
          label(for="validationTooltipUsername") Username
          div.input-group
            div.input-group-prepend
              span.input-group-text#validationTooltipUsernamePrepend @
            input.form-control#validationTooltipUsername(type="text" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required)
            div.invalid-tooltip Please choose a unique and valid username.
      div.form-row
        div.col-md-6.mb-3
          label(for="validationTooltip03") City
          input.form-control#validationTooltip03(type="text" placeholder="City" required)
          div.invalid-tooltip Please provide a valid city.
        div.col-md-3.mb-3
          label(for="validationTooltip04") State
          input.form-control#validationTooltip04(type="text" placeholder="State" required)
          div.invalid-tooltip Please provide a valid state.
        div.col-md-3.mb-3
          label(for="validationTooltip05") Zip
          input.form-control#validationTooltip05(type="text" placeholder="Zip" required)
        div.invalid-tooltip Please provide a valid zip.
      button.btn.btn-primary(type="submit") Submit form
    +collapseButton("#tooltips-structure") Settings
    ul.mt-2.collapse#tooltips-structure
      li Structure is the same as 
        a(href="#custom-styles") Bootstrap 4 style validation (example)
      li Changes classes as follows
        ul
          li
            code div.valid-feedback
            |  ⇒ 
            code div.valid-tooltip
          li 
            code div.invalid-feedback
            |  ⇒ 
            code div.invalid-tooltip
    h4.mt-4#custom-forms
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#custom-forms") Custom form controls
    p.my-2 Bootstrap 4 custom form controls can be used for further display customization and cross browser consistency.
    h5.mt-4.mb-3#checkboxes
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#checkboxes") Checkboxes
    each n in [1,2,3,4]
      div.custom-control.custom-checkbox
        input.custom-control-input(id=`custom-check-${n}` type="checkbox" checked=(n==1) disabled=(n==4))
        label.custom-control-label(for=`custom-check-${n}`)= `Custom checkbox ${n}${n == 4 ? " (disabled)" : ""}`
    script.
      document.getElementById('custom-check-3').indeterminate = true;
    div.mt-3
      +collapseButton("#checkboxes-example-structure") Structure
    ul.struct.mt-2.collapse#checkboxes-example-structure
      li
        code div.custom-control.custom-checkbox
        |  (&times;4)
        ul
          li
            code input.custom-control-input
            +attrsBtn(".a16-1")
            ul.collapse.a16-1
              li.att Attribute 
                code id="custom-check-(1|2|3|4)"
              li.att Attribute 
                code type="checkbox"
              li.att Attribute (first item only) 
                code checked
              li.att Attribute (last item only) 
                code disabled
          li
            code label.custom-control-label
            +attrBtn(".a16-2")
            ul
              li.att.collapse.a16-2 Attribute 
                code for="custom-check-(1|2|3|4)"
              li.txt Text 
                code Custom checkbox (1|2|3|4) (disabled)?
    p.mt-3 Initial state of the third checkbox is set to 
      kbd -
      |  . It is an example of 
      code :indeterminate
      +extLink("https://developer.mozilla.org/en-US/docs/Web/CSS/:indeterminate")  pseudo-class
      |  and set by the following code (JavaScript required).
    pre.p-2.border.bg-light
      code document.getElementById('custom-check-3').indeterminate = true;
    p.mt-3.my-2 Or using jQuery:
    pre.p-2.border.bg-light
      code $('#custom-check-3').prop('indeterminate', true);
    h5.mt-4.mb-3#radios
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#radios") Radios
    each n in [1,2,3,4]
      div.custom-control.custom-radio
        input.custom-control-input(id=`custom-radio-${n}` type="radio" name="custom-radios" checked=(n==1) disabled=(n==4))
        label.custom-control-label(for=`custom-radio-${n}`)= `Custom radio ${n}${n == 4 ? " (disabled)" : ""}`
    div.mt-3
      +collapseButton("#radios-example-structure") Structure
    ul.struct.mt-2.collapse#radios-example-structure
      li
        code div.custom-control.custom-radio
        |  (&times;4)
        ul
          li
            code input.custom-control-input
            +attrsBtn(".a17-1")
            ul.collapse.a17-1
              li.att Attribute 
                code id="custom-radio-(1|2|3|4)"
              li.att Attribute 
                code type="radio"
              li.att Attribute 
                code name="custom-radios"
              li.att Attribute (first item only) 
                code checked
              li.att Attribute (last item only) 
                code disabled
          li
            code label.custom-control-label
            +attrBtn(".a17-2")
            ul
              li.att.collapse.a17-2 Attribute 
                code for="custom-radio-(1|2|3|4)"
              li.txt Text 
                code Custom radio (1|2|3|4) (disabled)?
    h5.mt-4.mb-3#inline-1
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#inline-1") Radios (inline)
    each n in [1,2,3,4]
      div.custom-control.custom-radio.custom-control-inline
        input.custom-control-input(id=`custom-inline-radio-${n}` type="radio" name="custom-inline-radios" checked=(n==1) disabled=(n==4))
        label.custom-control-label(for=`custom-inline-radio-${n}`)= `Inline ${n}${n == 4 ? " (disabled)" : ""}`
    div.mt-3
      +collapseButton("#radios-inline-example-structure") Structure
    ul.struct.mt-2.collapse#radios-inline-example-structure
      li
        code div.custom-control.custom-radio.custom-control-inline
        |  (&times;4)
        ul
          li Inside is the same as 
            a(href="#inline") Inline radios
            |  above
    h5.mt-4.mb-2#switches
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#switches") Switches
    div.custom-control.custom-switch
      input.custom-control-input#customSwitch1(type="checkbox")
      label.custom-control-label(for="customSwitch1") Toggle this switch element
    div.custom-control.custom-switch
      input.custom-control-input#customSwitch2(type="checkbox" disabled)
      label.custom-control-label(for="customSwitch2") Disabled switch element
    div.mt-3
      +collapseButton("#switch-example-structure") Structure
    ul.struct.mt-2.collapse#switch-example-structure
      li
        code div.custom-control.custom-switch
        |  (&times;2)
        ul
          li Inside is the same as 
            a(href="#checkboxes") checkboxes
            |  above
    h5.mt-4.mb-2#select-menu
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#select-menu") Select menu
    each sz in [["sm","Small"],[null,"Default"],["lg","Large"]]
      p.mt-2.mb-1
        code= `select.custom-select${sz[0] ? `.custom-select-${sz[0]}` : ""}`
      select(class=`custom-select${sz[0] ? ` custom-select-${sz[0]}` : ""} mt-1 mb-2`)
        each n in [1,2,3,4,5]
          option(value=n selected=(n==1))= `${sz[1]} custom select ${n}`
    div.mt-3
      +collapseButton("#select-menu-example-structure") Structure
    ul.struct.mt-2.collapse#select-menu-example-structure
      li
        code select.custom-select(.custom-select-sm|.custom-select-lg)?
        ul
          li
            code option
            |  (&times;5)
            +attrsBtn(".a18-1")
            ul
              li.att.collapse.a18-1 Attribute 
                code value="(1|2|3|4|5)"
              li.att.collapse.a18-1 Attribute (first item only) 
                code selected
              li.txt Text 
                code (Small|Default|Large) custom select (1|2|3|4|5)
    p.mt-3.mb-2 On setting attribute 
      code multiple
    select.custom-select(multiple)
      each n in [1,2,3,4,5]
        option(value=n selected=(n==1))= `Custom select ${n}`
    p.mt-3.mb-2 On setting attribute 
      code size="3"
    select.custom-select(size="3")
      each n in [1,2,3,4,5]
        option(value=n selected=(n==1))= `Custom select ${n}`
    h4.mt-4.mb-3#range
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#range") Range
    p.my-2 As default, range is set to 
      code 0..100
      |  , value is set to 
      code 50
      |  , step is set to 
      code 1
      | .
    label(for="customRange1") Example range
    input.custom-range#customRange1(type="range")
    div.mt-3
      +collapseButton("#range-example-1-settings") Settings
    ul.struct.mt-2.collapse#range-example-1-settings
      li Label 
        code label
        +attrBtn(".a19-1")
        ul
          li.att.collapse.a19-1 Attribute 
            code for="customRange1"
          li.txt Text 
            code Example range
      li Custom range 
        code input.custom-range
        +attrsBtn(".a19-2")
        ul.collapse.a19-2
          li.att Attribute 
            code id="customRange1"
          li.att Attribute 
            code type="range"
    p.mt-3.mb-2 Set range with 
      code min
      |  and 
      code max
      | , value with 
      code value
      | .
    label(for="customRange2") Example range
    input.custom-range#customRange2(type="range" min="0" max="5" value="1")
    div.mt-3
      +collapseButton("#range-example-2-settings") Settings
    ul.struct.mt-2.collapse#range-example-2-settings
      li Label 
        code label
        +attrBtn(".a20-1")
        ul
          li.att.collapse.a20-1 Attribute 
            code for="customRange2"
          li.txt Text 
            code Example range
      li Custom range 
        code input.custom-range
        +attrsBtn(".a20-2")
        ul.collapse.a20-2
          li.att Attribute 
            code id="customRange2"
          li.att Attribute 
            code type="range"
          li.att Attribute 
            code min="0"
          li.att Attribute 
            code max="5"
          li.att Attribute 
            code value="1"
    p.mt-3.mb-2 Set step with 
      code step
      | .
    label(for="customRange3") Example range
    input.custom-range#customRange3(type="range" min="0" max="5" step="0.5" value="3.5")
    div.mt-3
      +collapseButton("#range-example-3-settings") Settings
    ul.struct.mt-2.collapse#range-example-3-settings
      li Label 
        code label
        +attrBtn(".a21-1")
        ul
          li.att.collapse.a21-1 Attribute 
            code for="customRange3"
          li.txt Text 
            code Example range
      li Custom range 
        code input.custom-range
        +attrsBtn(".a21-2")
        ul.collapse.a21-2
          li.att Attribute 
            code id="customRange3"
          li.att Attribute 
            code type="range"
          li.att Attribute 
            code min="0"
          li.att Attribute 
            code step="0.5"
          li.att Attribute 
            code max="5"
          li.att Attribute 
            code value="3.5"
    h4.mt-4.mb-3#file-browser
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#file-browser") File browser
    div.custom-file
      input.custom-file-input#custom-file(type="file" lang="en")
      label.custom-file-label(for="custom-file") Choose file
    div.mt-3
      +collapseButton("#file-browser-example-structure") Structure
    ul.struct.mt-2.collapse#file-browser-example-structure
      li
        code div.custom-file
        ul
          li
            code input.custom-file-input
            +attrsBtn(".a22-1")
            ul.collapse.a22-1
              li.att Attribute 
                code id="custom-file"
              li.att Attribute 
                code type="file"
              li.att Attribute 
                code lang="en"
          li
            code label.custom-file-label
            +attrBtn(".a22-2")
            ul
              li.att.collapse.a22-2 Attribute 
                code for="custom-file"
              li.txt Text 
                code Choose file
    h5.mt-4#translating-or-customizing-the-strings Translating or customizing the strings
    p.my-2 You can change the file browser's default text (
      strong Browse
      |  on the right) to the arbitrary string.
    h6.mt-3.mb-1#translating-or-customizing-the-strings-with-html
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#translating-or-customizing-the-strings-with-html") Translating or customizing the strings with HTML
    p.my-1 (&ge; 4.2) Adding 
      code data-browse="{String}"
      |  to 
      code label.custom-file-label
      |  changes the string: English(en), Japanese(ja), and Spanish(es) examples below.
    each lang in [["en","Browse","Choose file"],["ja","ファイル選択","選択されていません"],["es","Elegir","Seleccionar Archivo"]]
      div.custom-file.my-1(lang=lang[0])
        input.custom-file-input(id=`custom-file-html-${lang[0]}` type="file")
        label.custom-file-label(for=`custom-file-html-${lang[0]}` data-browse=lang[1])= lang[2]
    div.alert.alert-warning.my-2(role="alert")
      strong Note 5:
      |  If you set language context settings with CSS(Scss) as next section, it precedes the 
      code data-browse
      |  attribute.
    h6.mt-3.mb-1#translating-or-customizing-the-strings-with-scss
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#translating-or-customizing-the-strings-with-scss") Translating or customizing the strings with SCSS
    p.my-2 You can control strings with the language attribute 
      code lang="{language code}"
      |  (of 
      code label.custom-file-label
      | ) by customizing Bootstrap Scss source code (Sass language and node.js development knowledge required). See 
      +extLink("https://getbootstrap.com/docs/4.2/components/forms/#translating-or-customizing-the-strings-with-scss") official document
      |  for detail.
    h6.mt-3.mb-2#translating-or-customizing-the-strings-with-custom-css Translating or customizing the strings with custom CSS
    p.my-1 You can also control strings with the language attribute by adding some custom CSS (requires only CSS knowledge). If you just want to change to another string, you can append a short CSS as below at the end of 
      code= '<head>'
      |  block.
    pre.my-2.p-2.border.bg-light
      code= '<style>.custom-file-label::after { content: "Choose file"; }</style>'
    p.my-2 You can also preset multi language settings and choose it by 
      code lang
      |  attribute of the 
      code input
      |  element (same way as bootstrap.css).
    div#custom-file-css-button
      +collapseButton("#custom-file-css") CSS example
    pre.mt-3.p-2.border.bg-light.collapse#custom-file-css
      | /* en(English) is set as default to bootstrap.css */
      | /* ja(Japanese) */
      | .custom-file-input:lang(ja) ~ .custom-file-label::after {
      |   content: "ファイル選択";
      | }
      | /* es(Spanish) */
      | .custom-file-input:lang(es) ~ .custom-file-label::after {
      |   content: "Elegir";
      | }
    p.mt-3.mb-2 Live examples (en/ja/es)
    each lang in [["en","Choose file"],["ja","選択されていません"],["es","Seleccionar Archivo"]]
      div.custom-file.my-1
        input.custom-file-input(lang=lang[0] type="file" id=`custom-file-${lang[0]}`)
        label.custom-file-label(for=`custom-file-${lang[0]}`)= lang[1]
    h5.mt-4#custom-file-code-example Updating the filename (with JavaScript)
    p.mt-3 A file browser hides the default 
      code input
      |  (by setting 
      code opaticy: 0;
      |  ) and display the filename with another 
      code label
      |  (Choose file...). It is not automatically updated when the user selects a file. JavaScript is needed to update file displays. See the code examples below (code based on jQuery is used in this page).
    div.mt-3
      +collapseButton("#custome-file-code-example-dom") DOM example
      | &nbsp;
      +collapseButton("#custome-file-code-example-jquery") jQuery example
    pre.p-2.border.bg-light.mt-3.collapse#custome-file-code-example-dom
      code
        | // DOM example
        | (function() {
        |   window.addEventListener('load', function() {
        |     var input = document.getElementById('custom-file');
        |     input.addEventListener('change', function(event) {
        |       var label = document.querySelector('[for="custom-file"]');
        |       label.textContent = event.target.files[0].name;
        |     }, false);
        |   }, false);
        | })();
    pre.p-2.border.bg-light.mt-3.collapse#custome-file-code-example-jquery
      code
        | // jQuery example
        | $('#custom-file').on('change', function(event) {
        |   $('[for="custom-file"]').text($(this).prop('files')[0].name);
        | });

    +breadcrumbLevel1("Components(5): Forms")
