extends ../template-cdn-en
include ../mixins-en

block head
  title Bootstrap 4 tutorial: Components (10): Navbar: Placement/Fixed bottom

block body
  nav.navbar.fixed-bottom.navbar-dark.bg-info
    a.navbar-brand(href="#") Fixed bottom
  div.container
    +pageHeader("navbar-fixed-bottom")
      p.lead Components (10): Navbar: Placement/Fixed bottom

    h2.mt-3#navbar
      a(href="components-10.html") Navbar
    h5.mt-4#navbar-placement-fixed-bottom
      a(href="components-10.html#placement") Placement
      |  / 
      +extLink("https://getbootstrap.com/docs/4.1/components/navbar/#placement") Fixed bottom
    p The bar at the bottom of this page is a live example of 
      code nav.navbar.fixed-bottom
      |  . It is always fixed at the bottom regardless of vertical scrolling.
    p (Dummy contents for scrolling below)
    each n in [1,2,3]
      h5(id=`pict-${n}`)= `Picture ${n}`
      img.img-fluid.mb-4(src=`../img/1920x1080.svg`)
    each n in [1,2,3]
      h5(id=`slide-${n}`)= `Slide ${n}`
      img.img-fluid.mb-4(src=`../img/slide-${n}.svg`)

    div(style="margin-bottom: 5rem;")
      +breadcrumbLevel2("components-10.html", "Components(10): Navbar", "Placement/Fixed bottom")
