extends ../template-cdn-en
include ../mixins-en

block head
  title Bootstrap 4 tutorial: Components(12): Scrollspy: Example with list-group

block body
  div.container
    div.row
      div.col-4.col-lg-3.mt-4
        nav.navbar.navbar-light.bg-light.mb-2
          span.navbar-brand Scrollspy Demo (3)
        div.list-group#scrollspy-demo
          a.list-group-item.list-group-item-action(href=`#about`) About this demo
          each n in [1,2,3]
            a.list-group-item.list-group-item-action(href=`#pict-${n}`)= `Picture ${n}`
          each n in [1,2,3]
            a.list-group-item.list-group-item-action(href=`#slide-${n}`)= `Slide ${n}`
      div.col-8.col-lg-9.mt-4(data-spy="scroll" data-target="#scrollspy-demo" data-offset="10" style="height: 32rem; overflow-y: scroll;")
        +pageHeader("scrollspy-3")
          p.lead Components(12): Scrollspy: Example with list-group

        h2.mt-2#about About this demo
        p.my-2
          a(href="components-12.html#scrollspy-example-with-list-group") Scrollspy demo
          |  using a 
          a(href="components-7.html") List group
          | .
        ul.struct
          li Container 
            code div.container
            ul
              li Left 
                code div.col-4.col-lg-3
                |  : NavBar + List group 
                ul
                  li NavBar 
                    code nav.navbar.navbar-light.bg-light.mb-2
                    ul
                      li
                        code span.navbar-brand
                        ul
                          li.txt Text 
                            code Scrollspy Demo (3)
                  li List group 
                    code div.list-group
                    +attrBtn(".a1-1")
                    ul
                      li.att.collapse.a1-1 Attribute 
                        code id="scrollspy-demo"
                      li Items 
                        code a.list-group-item
                        +attrBtn(".a1-2")
                        ul.collapse.a1-2
                          li.att Attribute 
                            code= `href="#{position-id}"`
              li Right 
                code div.col-8.col-lg-9
                |  - Scrolling contents (here)
                +attrsBtn(".a1-3")
                ul
                  li.att.collapse.a1-3 Attribute 
                    code data-spy="scroll"
                  li.att.collapse.a1-3 Attribute 
                    code data-target="#scrollspy-demo"
                  li.att.collapse.a1-3 Attribute 
                    code data-offset="10"
                    |  (⇒ 
                    a(href="#note") Note
                    |  )
                  li.att.collapse.a1-3 Style 
                    code style="height: 32rem; overflow-y: scroll;"
                  li Scrolling elements
                    +attrBtn(".a1-4")
                    ul.collapse.a1-4
                      li Set 
                        code id="{position-id}"
                        |  to the tracking targets
        div.alert.alert-info#note(role="alert")
          strong Note: 
          | This demo sets 
          code data-offset="10"
          |  (px) for adjusting scrolling position calculation. Ideally, it should be 
          code "0"
          |  . But it sometimes causes a problem that it does not activate a pill when a use click a pill to scroll the page (possibly by numerical errors). Setting an offset around 
          code "10"
          |  results to natural behaviors.
        p Below are dummy scrolling contents. Each heading have a specific 
          code id="{position-id}"
          |  for scroll tracking.
        each n in [1,2,3]
          h2(id=`pict-${n}`)= `Picture ${n}`
          img.img-fluid.mb-4(src=`../img/1920x1080.svg`)
        each n in [1,2,3]
          h2(id=`slide-${n}`)= `Slide ${n}`
          img.img-fluid.mb-4(src=`../img/slide-${n}.svg`)

    +breadcrumbLevel2("components-12.html#scrollspy-example-with-list-group", "Component(12): Scrollspy", "Example with list-group")
