extends ../template-cdn-ja
include ../mixins-ja

mixin ulItemsLinks
  li.nav-item
    a.nav-link.active(href="#") Active
  each n in [1,2]
    li.nav-item
      a.nav-link(href="#") Link
  li.nav-item
    a.nav-link.disabled(href="#") Disabled


mixin navLinks(cls)
  - cls = cls ? cls + " " : ""
  a(class=`${cls}nav-link active` href="#") Active
  each n in [1,2]
    a(class=`${cls}nav-link` href="#") Link
  a(class=`${cls}nav-link disabled` href="#") Disabled

mixin ulItemsLinksLong(border)
  - border = border ? " border" : ""
  li.nav-item
    a(class=`nav-link active${border}` href="#") Active
  each text in ["Longer nav link", "Link"]
    li.nav-item
      a(class=`nav-link${border}` href="#")= text
  li.nav-item
    a(class=`nav-link disabled${border}` href="#") Disabled

mixin navItemsLinksLong(border)
  - border = border ? " border" : ""
  a(class=`nav-item nav-link active${border}` href="#") Active
  each text in ["Longer nav link", "Link"]
    a(class=`nav-item nav-link${border}` href="#")= text
  a(class=`nav-item nav-link disabled${border}` href="#") Disabled

block head
  title Bootstrap 4 tutorial: コンポーネント(9): ナビゲーション

block body
  div.container
    +pageHeader("components-9")
      p.lead コンポーネント(9): 
        a(href="#navs") ナビゲーション

    h2.mt-2#navs
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/") ナビゲーション
    h4.mt-3#base-nav
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#base-nav") 基本構成

    h6.my-2
      code ul
      |  ベースの場合
    +collapseButton("#ul-based-structure") 構造
    ul.struct.mt-2.collapse#ul-based-structure
      li
        code ul.nav
        ul
          li アイテム 
            code li.nav-item
            ul
              li リンク 
                code a.nav-link
                +attrBtn(".a1-1")
                ul.collapse.a1-1
                  li.att 属性 
                    code href="..."
                  li.cls アクティブアイテムは 
                    code .active
                    |  を追加
                  li.cls 灰色表示アイテムは 
                    code .disabled
                    |  を追加
    p.mt-3.mb-1 例(要素境界表示用にボーダーを追加、デフォルトはボーダーなし)
    ul.nav.border
      +ulItemsLinks
    h6.mt-4.mb-2
      code nav
      |  ベースの場合(一層少なく作成できる)
    +collapseButton("#nav-based-structure") 構造
    ul.struct.mt-2.collapse#nav-based-structure
      li
        code nav.nav
        ul
          li アイテム+リンク
            code a.nav-link
            +attrBtn(".a2-1")
            ul.collapse.a2-1
              li.att 属性 
                code href="..."
              li.cls アクティブアイテムは 
                code .active
                |  を追加
              li.cls 灰色表示アイテムは 
                code .disabled
                |  を追加
    nav.nav.border.mt-3
      +navLinks
    h4.mt-4#available-styles
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#available-styles") スタイルの設定
    p
      a(href="utilities-3.html#flex") Flexboxユーティリティ
      | を用いる。
    h5.mt-3.mb-1#horizontal-alignment
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#horizontal-alignment") 横方向の配置
    p.mt-1
      code .justify-content-(start|center|end)
      |  を用いる。
    each al in ["start","center","end"]
      p.mt-3.mb-1
        code= `.justify-content-${al}`
        - if (al == "start")
          |  (デフォルト)
      ul(class=`nav justify-content-${al} border`)
        +ulItemsLinks
    h5.mt-3.mb-1#vertical
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#vertical") 縦配置
    p.mt-1
      code .nav.flex-column
      |  を用いる。
    p.my-1
      code ul
      |  ベースで作成: 
      code ul.nav.flex-column
    ul.nav.flex-column.border
      +ulItemsLinks
    p.mt-3.mb-1
      code nav
      |  ベースで作成: 
      code nav.nav.flex-column
    nav.flex-column.border
      +navLinks
    h4.mt-4.mb-0#tabs
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#tabs") タブ表示
    p.mt-1
      code .nav-tabs
      |  を設定
    p.mt-3.mb-1
      code ul
      |  ベースで作成: 
      code ul.nav.nav-tabs
    ul.nav.nav-tabs
      +ulItemsLinks
    p.mt-4.mb-1
      code nav
      |  ベースの場合は1つ注意: 単に 
      code nav.nav.nav-tabs
      |  ではActiveアイテムの下に余計な線が付く(失敗例)
    nav.nav.nav-tabs
      +navLinks
    p.mt-3.mb-1 リンクアイテムに
      code .nav-item
      |  を追加して解決できる ⇒ 
      code a.nav-item.nav-link
    nav.nav.nav-tabs
      +navLinks("nav-item")
    h4.mt-4.mb-0#pills
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#pills") ピル表示
    p.mt-0.mb-1
      code .nav-pills
      |  を設定
    p.mt-2.mb-1
      code ul
      |  ベースで作成: 
      code ul.nav.nav-pills
    ul.nav.nav-pills
      +ulItemsLinks
    p.mt-3.mb-1
      code nav.nav
      |  ベースで作成: 
      code nav.nav.nav-pills
    nav.nav.nav-pills
      +navLinks
    h4.mt-4#fill-and-justify
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#fill-and-justify") フィルと割り付け
    p.my-1 デフォルトのピル表示(比較用): 以下境界確認のため要素にボーダー表示(実際は付かない)
    ul.nav.nav-pills.border
      +ulItemsLinksLong(true)
    p.mt-3.mb-1 文字幅均等のフィル: 
      code ul
      |  に 
      code .nav-fill
      |  を追加 ⇒ 
      code ul.nav.nav-pills.nav-fill
    ul.nav.nav-pills.nav-fill.border
      +ulItemsLinksLong(true)
    p.mt-3.mb-1
      code nav
      |  ベースの場合はアイテムに 
      code .nav-item
      |  を追加 ⇒ 
      code a.nav-item.nav-link
    nav.nav.nav-pills.nav-fill.border
      +navItemsLinksLong(true)
    p.mt-3.mb-1 等幅のフィル: 
      code .nav-justified
      |  ⇒ 
      code ul.nav.nav-pills.nav-justified
    ul.nav.nav-pills.nav-justified.border
      +ulItemsLinksLong(true)
    p.mt-3.mb-1 この場合も 
      code nav
      |  ベースはアイテムに 
      code .nav-item
      |  を追加 ⇒ 
      code a.nav-item.nav-link
    nav.nav.nav-pills.nav-justified.border
      +navItemsLinksLong(true)
    p.mt-3.mb-1 タブ表示も同様: デフォルト表示(比較用)
    ul.nav.nav-tabs
      +ulItemsLinksLong(false)
    p.mt-3.mb-1 タブ表示の文字幅均等フィル( 
      code ul
      |  ベース)
    ul.nav.nav-tabs.nav-fill
      +ulItemsLinksLong(false)
    p.mt-3.mb-1 タブ表示の文字幅均等フィル( 
      code nav
      |  ベース)
    nav.nav.nav-tabs.nav-fill
      +navItemsLinksLong(false)
    p.mt-3.mb-1 タブ表示の等幅フィル( 
      code ul
      |  ベース)
    ul.nav.nav-tabs.nav-justified
      +ulItemsLinksLong(false)
    p.mt-3.mb-1 タブ表示の等幅フィル( 
      code nav
      |  ベース)
    nav.nav.nav-tabs.nav-justified
      +navItemsLinksLong(false)
    h4.mt-4#working-with-flex-utilities
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#working-with-flex-utilities") Flexboxユーティリティの応用
    p.my-2 Flexboxユーティリティを応用したレスポンシブレイアウト例。mdブレークポイント(768px)で横配置と縦配置を切り替える。
    nav.nav.nav-pills.flex-column.flex-md-row.border.mt-3
      +navLinks("flex-md-fill text-md-center")
    div.my-3
      +collapseButton("#flex-example-structure") 構造
    ul.struct.mt-2.collapse#flex-example-structure
      li
        code nav.nav.nav-pills
        +attrsBtn(".a3-1")
        ul
          li.cls.collapse.a3-1 デフォルトを上下積み重ね配置に設定 
            code .flex-column
          li.cls.collapse.a3-1 md(768px)以上を横(インライン)配置に設定 
            code .flex-md-row
          li アイテム 
            code a.nav-link
            +attrsBtn(".a3-2")
            ul.collapse.a3-2
              li.cls md(768px)以上で親要素の横方向にフィル 
                code .flex-md-fill
              li.cls md(768px)以上で中央アライン 
                code .text-md-center
    h4.mt-4#regarding-accessibility
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#regarding-accessibility") アクセシビリティ対応
    p.mt-2 アクセシビリティの観点からナビゲーションにはロール 
      code navigation
      |  を設定する。しかし 
      code ul
      |  ベースの場合はベース要素の 
      code ul
      |  に 
      code role="navigation"
      |  を設定できない(⇒ 
      +extLink("https://www.w3.org/TR/html52/grouping-content.html#the-ul-element") W3C仕様書 - ul要素
      |  : 
      code navigation
      |  は 
      code ul
      |  の設定可能ロールではない)。
    p.my-2 そこで 
      code ul
      |  ベースのナビゲーションにはロールとして 
      code navigation
      |  を設定可能な親要素を追加する。適切な要素として 
      code nav
      |  (⇒ 
      +extLink("https://www.w3.org/TR/html52/sections.html#the-nav-element") W3C仕様書 - nav要素
      |  )を用いることができる。
      li アクセシビリティ用ラッパ 
        code nav
        |  (または 
        code div
        |  など)
        |  +ロール属性 
        code role="navigation"
        ul
          li ナビゲーション 
            code ul.nav
    p.my-2 一方 
      code nav
      |  ベースの場合は直接ロールを設定できる。
    ul.mt-1.mb-2
      li ナビゲーション 
        code nav.nav
        |  +ロール属性 
        code role="navigation"
    div.alert.alert-warning(role="alert")
      strong 注: 
      | タブ表示 
      code .nav-tabs
      |  を使用する場合もロールは 
      code navigation
      |  が正しい(名称から 
      code tab
      |  , 
      code tablist
      |  , 
      code tabpanel
      |  等に設定するのはありがちな誤り)。
    div.alert.alert-info(role="alert") この他にスクリーンリーダ対応としてアクティブアイテムの内部に 
      code span.sr-only
      |  (⇒ 
      a(href="utilities-4.html#screenreaders") スクリーンリーダ
      |  )を用いて 
      code (current)
      |  などの説明テキストを設定する。
      a(href="components-10.html#nav") ナビゲーションバー
      | の例で実際に行っているので参照するとよい。
    h4.mt-4#using-dropdowns
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#using-dropdowns") ドロップダウンを用いる場合
    p.mt-2.mb-3 アイテムとして
      a(href="components-4.html#dropdowns") ドロップダウン
      | を用いることができる。
    +collapseButton("#using-dropdowns-structure") 構造
    ul.struct.mt-2.collapse#using-dropdowns-structure
      li ドロップダウンアイテム 
        code li.nav-item.dropdown
        ul
          li ドロップダウンリンク 
            code a.nav-link.dropdown-toggle
            +attrsBtn(".a4-1")
            ul
              li.att.collapse.a4-1 属性 
                code href="..."
              li.att.collapse.a4-1 属性 
                code data-toggle="dropdown"
              li.att.collapse.a4-1 アクセシビリティ属性 
                code role="button"
              li.att.collapse.a4-1 アクセシビリティ属性 
                code aria-haspopup="true"
              li.att.collapse.a4-1 アクセシビリティ属性 
                code aria-expanded="false"
              li.txt テキスト 
                code Dropdown
          li Dropdownメニューアイテムリスト 
            code div.dropdown-menu
            ul
              li アイテムリストの設定方法は 
                a(href="components-4.html#dropdowns-examples") ドロップダウン - 基本例
                |  を参照
    each option in ["tabs", "pills"]
      p.mt-3.mb-1 ベースが 
        code= `ul.nav.nav-${option}`
        |  の場合
      ul(class=`nav nav-${option}`)
        li.nav-item
          a.nav-link.active(href="#") Active
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Dropdown
          div.dropdown-menu
            a.dropdown-item(href="#") Action
            a.dropdown-item(href="#") Another action
            a.dropdown-item(href="#") Something else here
            div.dropdown-divider
            a.dropdown-item(href="#") Separated link
        li.nav-item
          a.nav-link(href="#") Link
        li.nav-item
          a.nav-link.disabled(href="#") Disabled
    each option in ["tabs", "pills"]
      p.mt-3.mb-1 ベースが 
        code= `nav.nav.nav-${option}`
        |  の場合
      nav(class=`nav nav-${option}`)
        a.nav-item.nav-link.active(href="#") Active
        a.nav-item.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Dropdown
        div.dropdown-menu
          a.dropdown-item(href="#") Action
          a.dropdown-item(href="#") Another action
          a.dropdown-item(href="#") Something else here
          div.dropdown-divider
          a.dropdown-item(href="#") Separated link
        a.nav-link(href="#") Link
        a.nav-link.disabled(href="#") Disabled
    h4.mt-4#javascript-behavior
      +extLink("https://getbootstrap.com/docs/4.1/components/navs/#javascript-behavior") JavaScriptを利用した切り替え
    - const sampleText = ["Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.", "Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.", "Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr."]
    p.mt-2.mb-3
      code bootstrap.js
      |  を利用してタブ選択で各アイテムに対応するコンテンツの表示ON/OFFを切り替えることができる(自分でコードは書かなくてよい)。次の通り設定する。まず 
      code ul
      |  ベースの場合から示す。
    +collapseButton("#javascript-ul") 構造
    ul.struct.mt-2.collapse#javascript-ul
      li タブリストコントロール 
        code ul.nav.nav-(tabs|pills)
        +attrBtn(".a5-1")
        ul
          li.att.collapse.a5-1 アクセシビリティ属性 
            code role="tablist"
            |  (注: 
            code "navigation"
            |  ではない)
          li タブアイテム 
            code li.nav-item
            ul
              li リンク 
                code a.nav-link
                +attrsBtn(".a5-2")
                ul
                  li.cls.collapse.a5-2 初期状態で表示するアイテムは 
                    code .active
                    |  を追加
                  li.att.collapse.a5-2 属性 
                    code id="タブID"
                  li.att.collapse.a5-2 属性 
                    code data-toggle="tab"
                    |  or 
                    code "pill"
                    |  (どちらでも動作は同じ)
                  li.att.collapse.a5-2 属性 
                    code href="#コンテントID"
                  li.att.collapse.a5-2 アクセシビリティ属性 
                    code role="tab"
                  li.att.collapse.a5-2 アクセシビリティ属性 
                    code aria-controls="コンテントID"
                  li.att.collapse.a5-2 アクセシビリティ属性 
                    code aria-selected="true"
                    |  (アクティブ時)または 
                    code "false"
                  li.txt テキスト(例) 
                    code Home
      li タブコンテント 
        code div.tabcontent
        ul
          li コンテントアイテム 
            code div.tab-pane
            +attrsBtn(".a5-3")
            ul.collapse.a5-3
              li.cls アニメーション効果(フェードイン/アウト)は
                code .fade
                |  を追加
              li.cls 初期状態で表示するアイテムは 
                code .show.active
                |  を追加
              li.att 属性 
                code id="コンテントID"
              li.att アクセシビリティ属性 
                code role="tabpanel"
              li.att アクセシビリティ属性 
                code aria-labelledby="タブID"
    each opt in ["tab", "pill"]
      p.mt-4.mb-2
        code= `ul.nav.nav-${opt}s`
      ul(class=`nav nav-${opt}s mb-2` role="tablist")
        li.nav-item
          a.nav-link.active(id=`home-ul-${opt}-tab` data-toggle=opt href=`#home-ul-${opt}` role="tab" aria-controls=`home-ul-${opt}` aria-selected="true") Home
        each item in ["profile", "contact"]
          li.nav-item
            a.nav-link(id=`${item}-ul-${opt}-tab` data-toggle=opt href=`#${item}-ul-${opt}` role="tab" aria-controls=`${item}-ul-${opt}` aria-selected="false")
              = `${item[0].toUpperCase()}${item.slice(1)}`
      div.tab-content
        div.tab-pane.fade.show.active(id=`home-ul-${opt}` role="tabpanel" aria-labelledby=`home-ul-${opt}-tab`)
          h6.my-1= `Home-ul-${opt}s`
          p= sampleText[0]
        each item in [["profile",sampleText[1]],["contact",sampleText[2]]]
          div.tab-pane.fade(id=`${item[0]}-ul-${opt}` role="tabpanel" aria-labelledby=`${item[0]}-ul-${opt}-tab`)
            h6= `${item[0][0].toUpperCase()}${item[0].slice(1)}-ul-${opt}s`
            p= item[1]
    p.mt-4.mb-3 次に 
      code nav
      |  ベースの場合(トップレベルの構造の違いに注意)。
    +collapseButton("#javascript-nav") 構造
    ul.struct.mt-2.collapse#javascript-nav
      li
        code nav
        |  (アクセシビリティ用ラッパ、何も設定しない)
        ul
          li 実質的な親 
            code div.nav.nav-(tabs|pills)
            +attrBtn(".a6-1")
            ul
              li.att.collapse.a6-1 アクセシビリティ属性 
                code role="tablist"
              li タブアイテム+リンク 
                code a.nav-item.nav-link(.active)?
                ul
                  li.att 以下属性は 
                    code ul
                    |  ベースの場合と同じ
      li
        code div.tabcontent
        |  も 
        code ul
        |  ベースの場合と同じ
    each opt in ["tab", "pill"]
      p.mt-4.mb-2
        code nav
        |  + 
        code= `div.nav.nav-${opt}s`
      nav
        div(class=`nav nav-${opt}s mb-2` role="tablist")
          a.nav-item.nav-link.active(id=`home-nav-${opt}-tab` data-toggle="tab" href=`#home-nav-${opt}` role="tab" aria-controls=`home-nav-${opt}` aria-selected="true") Home
          each item in ["profile", "contact"]
            a.nav-item.nav-link(id=`${item}-nav-${opt}-tab` data-toggle="tab" href=`#${item}-nav-${opt}` role="tab" aria-controls=`${item}-nav-${opt}` aria-selected="false")
              = `${item[0].toUpperCase()}${item.slice(1)}`
      div.tab-content
        div.tab-pane.fade.show.active(id=`home-nav-${opt}` role="tabpanel" aria-labelledby=`home-nav-${opt}-tab`)
          h6.my-1= `Home-nav-${opt}s`
          p= sampleText[0]
        each item in [["profile",sampleText[1]],["contact",sampleText[2]]]
          div.tab-pane.fade(id=`${item[0]}-nav-${opt}` role="tabpanel" aria-labelledby=`${item[0]}-nav-${opt}-tab`)
            h6= `${item[0][0].toUpperCase()}${item[0].slice(1)}-nav-${opt}s`
            p= item[1]
    p.mt-4.mb-2 最後はFlexboxの応用例: 縦配置ピルを左、コンテントを右に表示(詳しくはソース参照)
    div.d-flex
      div.nav.flex-column.nav-pills#v-pills-tab(role="tablist" aria-orientation="vertical")
        a.nav-link.active#v-pills-home-tab(data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true") Home
        a.nav-link#v-pills-profile-tab(data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false") Profile
        a.nav-link#v-pills-messages-tab(data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false") Messages
        a.nav-link#v-pills-settings-tab(data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false") Settings
      div.tab-content.ml-3.mt-2#v-pills-tabContent
        div.tab-pane.fade.show.active#v-pills-home(role="tabpanel" aria-labelledby="v-pills-home-tab")
          h6 Home
          p Cillum ad ut irure tempor velit nostrud occaecat ullamco aliqua anim Lorem sint. Veniam sint duis incididunt do esse magna mollit excepteur laborum qui. Id id reprehenderit sit est eu aliqua occaecat quis et velit excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat commodo et voluptate minim reprehenderit mollit pariatur. Deserunt non laborum enim et cillum eu deserunt excepteur ea incididunt minim occaecat.
        div.tab-pane.fade#v-pills-profile(role="tabpanel" aria-labelledby="v-pills-profile-tab")
          h6 Profile
          p Culpa dolor voluptate do laboris laboris irure reprehenderit id incididunt duis pariatur mollit aute magna pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo et minim in quis laboris ipsum velit id veniam. Quis ut consectetur adipisicing officia excepteur non sit. Ut et elit aliquip labore Lorem enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui esse anim eiusmod do sint minim consectetur qui.
        div.tab-pane.fade#v-pills-messages(role="tabpanel" aria-labelledby="v-pills-messages-tab")
          h6 Messages
          p Fugiat id quis dolor culpa eiusmod anim velit excepteur proident dolor aute qui magna. Ad proident laboris ullamco esse anim Lorem Lorem veniam quis Lorem irure occaecat velit nostrud magna nulla. Velit et et proident Lorem do ea tempor officia dolor. Reprehenderit Lorem aliquip labore est magna commodo est ea veniam consectetur.
        div.tab-pane.fade#v-pills-settings(role="tabpanel" aria-labelledby="v-pills-settings-tab")
          h6 Settings
          p Eu dolore ea ullamco dolore Lorem id cupidatat excepteur reprehenderit consectetur elit id dolor proident in cupidatat officia. Voluptate excepteur commodo labore nisi cillum duis aliqua do. Aliqua amet qui mollit consectetur nulla mollit velit aliqua veniam nisi id do Lorem deserunt amet. Culpa ullamco sit adipisicing labore officia magna elit nisi in aute tempor commodo eiusmod.

    +breadcrumbLevel1("コンポーネント(9): ナビゲーション")
