extends ../template-cdn-ja
include ../mixins-ja

block head
  title Bootstrap 4 tutorial: コンポーネント(10): ナビゲーションバー: 配置/上端張り付き

block body
  div.container
    +pageHeader("navbar-sticky-top")
      p.lead コンポーネント(10): ナビゲーションバー: 配置/上端張り付き

    h2.mt-2#navbar
      a(href="components-10.html") ナビゲーションバー
    h5.mt-4#navbar-placement-sticky-top
      a(href="components-10.html#placement") 配置
      |  / 
      +extLink("https://getbootstrap.com/docs/4.1/components/navbar/#placement") 上端張り付き
    p この下にあるナビゲーションバーが上端張り付き 
      code nav.navbar.sticky-top
      |  の設定例。
    ul
      li 画面上端までは上スクロール
      li 画面上端に達すると張り付いて固定
    p.text-danger.my-2 ↓↓↓↓↓ このナビゲーションバー ↓↓↓↓↓
  nav.navbar.sticky-top.navbar-dark.bg-info
    a.navbar-brand(href="#") Sticky top
  div.container
    p.text-danger.my-2 ↑↑↑↑↑ このナビゲーションバー ↑↑↑↑↑
    div.alert.alert-danger.mt-3(role="alert")
      strong 注: 
      |  CSSの 
      code position: sticky
      |  を用いているが、この設定はまだブラウザ側の対応が完全ではない。特にIE10,1E11はサポート外になることに注意(
      +extLink("https://caniuse.com/#feat=css-sticky") caniuse - CSS position:sticky
      |  を参照)。
    p (以下スクロール用のダミー画像)
    each n in [1,2,3]
      h5(id=`pict-${n}`)= `Picture ${n}`
      img.img-fluid.mb-4(src=`../img/1920x1080.svg`)
    each n in [1,2,3]
      h5(id=`slide-${n}`)= `Slide ${n}`
      img.img-fluid.mb-4(src=`../img/slide-${n}.svg`)

    +breadcrumbLevel2("components-10.html", "コンポーネント(10): ナビゲーションバー", "配置/上端張り付き")
