extends ../template-cdn-ja
include ../mixins-ja

block head
  title Bootstrap 4 tutorial: コンポーネント(10): ナビゲーションバー: 配置/下端固定

block body
  nav.navbar.fixed-bottom.navbar-dark.bg-info
    a.navbar-brand(href="#") Fixed bottom
  div.container
    +pageHeader("navbar-fixed-bottom")
      p.lead Bootstrap 4: コンポーネント(10): ナビゲーションバー: 配置/下端固定

    h2.mt-3#navbar
      a(href="components-10.html") ナビゲーションバー
    h5.mt-4#navbar-placement-fixed-top
      a(href="components-10.html#placement") 配置
      |  / 
      +extLink("https://getbootstrap.com/docs/4.1/components/navbar/#placement") 下端固定
    p 本ページ下端のナビゲーションバーが 
      code nav.navbar.fixed-bottom
      |  の例(ページを上下スクロールしても常に下端に固定)。要素のDOM順序に関係なくどこに書いても下端に配置される。
    p (以下スクロール用のダミー画像)
    each n in [1,2,3]
      h5(id=`pict-${n}`)= `Picture ${n}`
      img.img-fluid.mb-4(src=`../img/1920x1080.svg`)
    each n in [1,2,3]
      h5(id=`slide-${n}`)= `Slide ${n}`
      img.img-fluid.mb-4(src=`../img/slide-${n}.svg`)

    div(style="margin-bottom: 5rem;")
      +breadcrumbLevel2("components-10.html", "コンポーネント(10): ナビゲーションバー", "配置/下端固定")
