extends ../template-cdn-ja
include ../mixins-ja

block head
  title Bootstrap 4 tutorial: コンポーネント(12): スクロールスパイ: 階層ナビゲーションへの設定

block body
  div.container
    div.row
      div.col-4.col-lg-3.mt-4
        nav.navbar.navbar-light.bg-light
          span.navbar-brand Scrollspy demo (2)
          nav.nav.nav-pills.flex-column#scrollspy-demo
            a.nav-link.mb-1(href="#about") デモの構成
            a.nav-link(href=`#picture`) Pictures
            nav.nav.nav-pills.flex-column
              each n in [1,2]
                a.nav-link.ml-4.my-1(href=`#picture-${n}`)= `Picture ${n}`
                nav.nav.nav-pills.flex-column
                  each m in [1,2,3]
                    a.nav-link.ml-5(href=`#picture-${n}-${m}`)= `Picture ${n}-${m}`
            a.nav-link.mb-1(href=`#slide`) Slides
            nav.nav.nav-pills.flex-column
              each n in [1,2,3]
                a.nav-link.ml-4(href=`#slide-${n}`)= `Slide ${n}`
      div.col-8.col-lg-9.mt-4(data-spy="scroll" data-target="#scrollspy-demo" data-offset="10" style="height: 40rem; overflow-y: scroll;")
        +pageHeader("scrollspy-2")
          p.lead スクロールスパイ: 階層ナビゲーションへの設定

        h2.mt-2#about デモの構成
        p.my-2
          a(href="components-12.html#scrollspy-example-with-nested-nav") スクロールスパイのデモ
          |  : 3重ネストした
          a(href="components-9.html") ナビゲーション
          | を用いた例。
        ul.struct
          li コンテナ 
            code div.container
            ul
              li 左 
                code div.col-4.col-lg-3
                ul
                  li ナビゲーション 
                    code nav.nav.nav-pills.flex-column
                    +attrBtn(".a1-1")
                    ul
                      li.att.collapse.a1-1 属性 
                        code id="scrollspy-demo"
                      li アイテム 
                        code a.list-group-item
                        +attrBtn(".a1-2")
                        ul.collapse.a1-2
                          li.att 属性 
                            code= `href="#{位置ID}"`
                      li またはネストしたナビゲーション 
                        code nav.nav.nav-pills.flex-column
                        ul
                          li.att (内部には 
                            code id
                            |  不要)
                          li アイテム 
                            code a.list-group-item
                            +attrBtn(".a1-3")
                            ul.collapse.a1-3
                              li.att 属性 
                                code= `href="#{位置ID}"`
                              li.cls インデント 
                                code .ml-(4|5)
                                |  (⇒ 
                                a(href="utilities-4.html#spacing") 空白ユーティリティ
                                | )
                          li 任意レベルのネスト可能
              li 右 
                code div.col-8.col-lg-9
                |  : スクロールするコンテンツ(この場所)
                +attrsBtn(".a1-4")
                ul
                  li.att.collapse.a1-4 属性 
                    code data-spy="scroll"
                  li.att.collapse.a1-4 属性 
                    code data-target="#scrollspy-demo"
                  li.att.collapse.a1-4 属性 
                    code data-offset="10"
                    |  (⇒ 
                    a(href="#note") 注
                    | )
                  li.att.collapse.a1-4 スタイル 
                    code style="height: 32rem; overflow-y: scroll;"
                  li 位置検出する要素
                    +attrBtn(".a1-5")
                    ul.collapse.a1-5
                      li ID 
                        code id="{位置ID}"
                        |  を設定
        div.alert.alert-info#note(role="alert")
          strong 注: 
          | 設定 
          code data-offset="10"
          |  はスクロール位置計算の微調整(px)。厳密には 
          code "0"
          |  となるべきだが、実際にはPillをクリックしてスクロールした時のそのPillがアクティブにならないことがある。そこで
          code "10"
          |  程度のオフセット値を設定すると自然な動作になる。
        p 以下はスクロール用ダミーコンテンツ。ヘッダにはそれぞれ 
          code id="{位置ID}"
          |  が設定されており、スクロールスパイがスクロール検出と表示の連動を行う。
        h2#picture Pictures
        each n in [1,2]
          h4(id=`picture-${n}`)= `Picture ${n}`
          each m in [1,2,3]
            h5(id=`picture-${n}-${m}`)= `Picture ${n}-${m}`
            img.img-fluid.mb-4(src=`../img/1920x1080.svg`)
        h2#slide Slides
        each n in [1,2,3]
          h4(id=`slide-${n}`)= `Slide ${n}`
          img.img-fluid.mb-4(src=`../img/slide-${n}.svg`)

    +breadcrumbLevel2("components-12.html#scrollspy-example-with-nested-nav", "コンポーネント(12): スクロールスパイ", "階層ナビゲーションへの設定")
