include ../mixins-ja

doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    title Bootstrap 4 tutorial: コンポーネント(12): スクロールスパイ: ナビゲーションバーへの設定
    style.
      ul.struct li     { list-style: disc; }
      ul.struct li.cls { list-style: circle; }
      ul.struct li.att { list-style: circle; }
      ul.struct li.txt { list-style: none; }
      a.heading-link { text-decoration: none; margin-left: 0.5rem; color: white; }
      a.heading-link:hover { color: skyblue; }
      .custom-file-input:lang(ja) ~ .custom-file-label::after { content: "ファイル選択"; }
      .custom-file-input:lang(es) ~ .custom-file-label::after { content: "Elegir"; }
      .breadcrumb-item + .breadcrumb-item::before { content: "\00bb" }

  body(data-spy="scroll" data-target="#scrollspy-demo" data-offset="56")
    nav.navbar.fixed-top.navbar-light#scrollspy-demo(style="background: rgba(222,222,222,0.6);")
      a.navbar-brand(href="#") Scrollspy demo (1)
      ul.nav.nav-pills
        li.nav-item
          a.nav-link(href=`#about`) About
        each n in [1,2,3]
          li.nav-item
            a.nav-link(href=`#picture-${n}`)= `Picture ${n}`
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Slide
          div.dropdown-menu
            each n in [1,2,3]
              a.dropdown-item(href=`#slide-${n}`)= `Slide ${n}`
    div.container
      div(style="margin-top: 3.5rem;")
        +pageHeader("scrollspy-1")
          p.lead スクロールスパイ: ナビゲーションバーへの設定

      h2.mt-2#about デモの構成
      p.my-2
        a(href="components-12.html#scrollspy-example-in-navbar") スクロールスパイのデモ
        |  : 
        a(href="components-10.html") ナビゲーションバー
        | への設定例。
      ul.struct
        li スクロールコンテント 
          code body
          +attrsBtn(".a1-1")
          ul
            li.att.collapse.a1-1 属性 
              code data-spy="scroll"
            li.att.collapse.a1-1 属性 
              code data-target="#scrollspy-demo"
            li.att.collapse.a1-1 属性 
              code data-offset="56"
              |  (⇒ 
              a(href="#note-1") 注1
              | )
            li ナビゲーションバー(上部固定) 
              code nav.navbar.fixed-top.navbar-light
              +attrsBtn(".a1-2")
              ul
                li.att.collapse.a1-2 属性 
                  code id="scrollspy-demo"
                li.att.collapse.a1-2 スタイル(背景を半透明) 
                  code style="background: rgba(222,222,222,0.6);"
                  |  (⇒ 
                  a(href="#note-2") 注2
                  | )
                li.txt タイトル 
                  code Scrollspy demo (1)
                  |  (⇒ 
                  a(href="components-10.html#brand") ナビゲーションバー - ブランド表示
                  | )
                li アイテムリスト 
                  code ul.nav.nav-pills
                  |  (⇒ 
                  a(href="components-10.html#nav") ナビゲーションバー - ナビゲーション
                  | )
                  ul
                    li アイテム 
                      code li.nav-item
                      ul
                        li リンク 
                          code a.nav-link
                          +attrBtn(".a1-3")
                          ul
                            li.att.collapse.a1-3 属性(例) 
                              code href=`#about`
                            li.txt テキスト(例) 
                              code About
                    li ドロップダウン (
                      strong Slide&dtrif; 
                      | ) 
                      code li.nav-item.dropdown
                      |  (⇒ 
                      a(href="components-4.html#dropdowns") ドロップダウン
                      | )
            li コンテナ 
              code div.container
              ul
                li 位置検出する要素 
                  +attrBtn(".a1-4")
                  ul
                    li.att.collapse.a1-4 ID 
                      code id="{位置ID}"
                      |  を設定する
      div.alert.alert-info#note-1(role="alert")
        strong 注1: 
        code data-offset="56"
        |  はナビゲーションバーの高さ(px)。本ページはトップ固定ナビゲーションバーがあるため、スクロール位置計算の基準点がスクロールバーのすぐ下になるようにオフセット調整している。
      div.alert.alert-info#note-2(role="alert")
        strong 注2: 
        | ハッシュ 
        code #
        |  によるページ内ジャンプはナビゲーションバーを考慮せず常にページ先頭にスクロールするため、ターゲットがバーに隠れてしまう。この問題解決はやや難しい(オフィシャルデモの動作も同じで、解決にはたぶん 
        code iframe
        |  が必要)。そこで妥協策として半透明バーを用い隠れた部分が透けて見えるようにして問題を緩和している。
      p 以下はスクロール用ダミーコンテンツ。ヘッダにはそれぞれ 
        code id="{位置ID}"
        |  が設定されており、スクロールスパイがスクロール検出と表示の連動を行う。
      each n in [1,2,3]
        h2(id=`picture-${n}`)= `Picture ${n}`
        img.img-fluid.mb-4(src=`../img/1920x1080.svg`)
      each n in [1,2,3]
        h2(id=`slide-${n}`)= `Slide ${n}`
        img.img-fluid.mb-4(src=`../img/slide-${n}.svg`)

      +breadcrumbLevel2("components-12.html#scrollspy-example-in-navbar", "コンポーネント(12): スクロールスパイ", "ナビゲーションバーへの設定")

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous")
