extends ../template-cdn-ja
include ../mixins-ja

block head
  title Bootstrap 4 tutorial: ユーティリティ(4): 配置 / スクリーンリーダ / シャドウ / サイズ / 空白

block body
  div.container
    +pageHeader("utilities-4")
      p.lead ユーティリティ(4): 
        a(href="#position") 配置
        |  / 
        a(href="#screenreaders") スクリーンリーダ
        |  / 
        a(href="#shadows") シャドウ
        |  / 
        a(href="#sizing") サイズ
        |  / 
        a(href="#spacing") 空白

    h2.mt-2#position
      +extLink("https://getbootstrap.com/docs/4.1/utilities/position/") 配置
    h4.mt-4#position-common-values
      +extLink("https://getbootstrap.com/docs/4.1/utilities/position/#common-values") 設定
    p.my-1
      code .position-(static|relative|absolute|fixed|sticky)
    p.my-2 CSSの 
      code position
      |  プロパティを設定するユーティリティクラス。クラス名はCSSの 
      code position
      |  プロパティ値と直接対応しているため説明略(
      +extLink("https://developer.mozilla.org/ja/docs/Web/CSS/position") CSSリファレンス
      | 参照)
    h4.mt-4#position-fixed-sticky
      +extLink("https://getbootstrap.com/docs/4.1/utilities/position/#fixed-top") 上端固定
      |  / 
      +extLink("https://getbootstrap.com/docs/4.1/utilities/position/#fixed-bottom") 下端固定
      |  / 
      +extLink("https://getbootstrap.com/docs/4.1/utilities/position/#sticky-top") 上端張り付き
    p.mb-2 要素を画面の上下端に固定し、さらに 
      a(href="layout-1.html#overview-z-index") Z-index
      |  を操作して重なっている他要素より上に表示する機能。
      a(href="components-10.html") ナビゲーションバー
      | でこれらを利用したデモを作成している(詳細は各デモを参照)。
    ul
      li 上端固定 
        code .fixed-top
        |  ⇒ 
        a(href="navbar-fixed-top.html") ナビゲーションバーのデモ
      li 下端固定 
        code .fixed-bottom
        |  ⇒ 
        a(href="navbar-fixed-bottom.html") ナビゲーションバーのデモ
      li 上端張り付き 
        code .sticky-top
        |  ⇒ 
        a(href="navbar-sticky-top.html") ナビゲーションバーのデモ

    h2.mt-5#screenreaders
      +extLink("https://getbootstrap.com/docs/4.1/utilities/screenreaders/") スクリーンリーダ
    h5.mt-3#screenreaders-summary スクリーンリーダ対応(まとめ)
    ul
      li スクリーンリーダ利用者のみに提供する要素に 
        code .sr-only
        |  を設定する
        ul
          li スクリーンリーダ利用者専用情報として開示される
          li 非利用者には表示されない
      li キーボードを利用するユーザ向けに 
        code .sr-only-focusable
        |  を適宜設定する
    h5.mt-3#screenreaders-example 例
    p.my-2 
      code .sr-only
      |  は多数のコンポーネントに用いられているため略。ここでは 
      code .sr-only-focusable
      |  の例を示す。
    ul.struct
      li
        code a.sr-only.sr-only-focusable
        ul
          li.att 属性 
            code href="#"
          li.txt テキスト 
            code Skip to main content
    p.my-2 実例: 
      strong この先のかっこの中に設定 ⇒ ( 
      a.sr-only.sr-only-focusable(href="#") Skip to main content
      strong  )
      | 。動作は次の通り。
    ul
      li スクリーンリーダ利用者は情報を読み取れ、キーボードフォーカスも受ける
      li 視覚利用者には見えず、マウスではフォーカスを受けない
        ul
          li ただしタブストップは有効で、
            kbd Tab
            |  キーでフォーカスすると表示する

    h2.mt-5#shadows
      +extLink("https://getbootstrap.com/docs/4.1/utilities/shadows/") シャドウ
    p.mt-3
      code .shadow(-none|-sm|-lg)?
    h4.mt-4#shadows-examples 表示例
    each opt in [["-none","No"],["-sm","Small"],["","Regular"],["-lg","Larger"]]
      p.mt-3.mb-2
        code= `div.shadow${opt[0]}`
      div(class=`shadow${opt[0]} p-3 mb-4 bg-${opt[0]=="-none" ? "light" : "white"} rounded`)= `${opt[1]} shadow`

    h2.mt-5#sizing
      +extLink("https://getbootstrap.com/docs/4.1/utilities/sizing/") サイズ
    p.mt-2.mb-1 幅と高さを設定するユーティリティクラス。
    ul.my-0
      li 幅 (25%ステップ + auto) 
        code .w-(25|50|75|100|auto)
      li 高さ (25%ステップ + auto) 
        code .h-(25|50|75|100|auto)
      li 最大幅を100%に設定(親要素にフィット) 
        code .mw-100
      li 最大高さを100%に設定(親要素にフィット) 
        code .mh-100
    p.mt-2.mb-0 幅の設定
    each w in [25, 50, 75, 100, "auto"]
      div(class=`w-${w} p-1 bg-light text-center border`)
        code= `.w-${w}`
    p.mt-2.mb-0 高さの設定
    div.border(style="height: 100px;")
      for h in [25, 50, 75, 100, "auto"]
        div(class=`h-${h} d-inline-block border bg-light text-center` style="width: 8rem;")
            code= `.h-${h}`
    p.mt-3.mb-1 最大幅設定の例: 
      code img.mw-100
      |  (親の幅にフィット)
    img.mw-100(src="../img/2000x200.svg")
    p.mt-3.mb-1 最大高さ設定の例: 親要素 
      code height:200px;
      |  の中に 
      code img.mh-100
      |  (親の高さにフィット)
    div.border(style="height:200px;")
      img.mh-100(src="../img/320x320.svg")

    h2.mt-5#spacing
      +extLink("https://getbootstrap.com/docs/4.1/utilities/spacing/") 空白
    p.my-2 マージン(要素のボックス境界と外部要素の間隔)とパディング(ボックス境界と内部要素の間隔)の設定に用いる
    h4.mt-3#spacing-notation
      +extLink("https://getbootstrap.com/docs/4.1/utilities/spacing/#notation") 記法
    p.mt-2.mb-1
      code .(m|p)(t|b|l|r|x|y)?-(0|1|2|3|4|5|auto)
    ul
      li
        code (m|p)
        |  マージン/パディングの種別
        ul
          each opt in [["m","マージン"],["p","パディング"]]
            li
              code= opt[0]
              = ` ${opt[1]}を設定`
      li
        code (t|b|l|r|x|y)
        |  上下左右の指定
        ul
          each opt in [["t","上"],["b","下"],["l","左"],["r","右"],["x","左右"],["y","上下"]]
            li
              code= opt[0]
              = ` ${opt[1]}のマージン/パディングを設定`
          li (なし) 上下左右すべてのマージン/パディングを設定
      li
        code (0|1|2|3|4|5|auto)
        |  間隔の設定
        ul
          li
            code 0
            |  間隔を0に設定
          each w in [[1,"1/4"],[2,"1/2"],[3,"1"],[4,"1.5"],[5,"3"]]
            li
              code= w[0]
              |  間隔を 
              code= `${w[1]}rem`
              |  に設定
          li
            code auto
            |  (マージンのみ)ブラウザデフォルト値に設定
    div.alert.alert-info.mt-3(role="alert")
      strong 上級向け(要Sass): 
      | 空白文字幅はBootstrapのカスタマイズにより変更可能(⇒ 
      a(href="getting-started.html#css-customizing") Sassソースからのカスタマイズ
      | )。幅のスケールはSass変数 
      code $spacer
      |  で定義されている(デフォルト値は 
      code 1rem
      |  )。また幅設定の 
      code 0,1,2...
      |  もSass変数 
      code $spacers
      |  で設定されており、どちらも自由にカスタマイズできる。
    h4.mt-4#spacing-example 例
    p.mt-2.mb-1 表のセル 
      code td
      |  へのパディング設定: この場合は 
      code pb-(0|1|2|3|4|5)
      |  (下のみ)は効果がないため除外
    each dir in [["","上下左右"],["x","左右のみ"],["y","上下のみ"],["t","上のみ"],["l","左のみ"],["r","右のみ"]]
      p.my-1
        code= `.p${dir[0]}-(0|1|2|3|4|5)`
        = ` (${dir[1]})`
      table.table.table-bordered
        tbody
          tr.p-0
            each p in [0,1,2,3,4,5]
              td(class=`p${dir[0]}-${p}`)
                div.m-0.border.bg-light
                  code= `.p${dir[0]}-${p}`
    h4.mt-4#horizontal-centering
      +extLink("https://getbootstrap.com/docs/4.1/utilities/spacing/#horizontal-centering") 要素の横センタリング
    p 幅を指定したブロック要素の横センタリングに 
      code .mx-auto
      |  を用いることができる。
    div.mx-auto.border.p-2.bg-light(style="width: 20rem;")
      code div.mx-auto
      |  + 
      code style="width: 20rem;"

    +breadcrumbLevel1("ユーティリティ(4): 配置/スクリーンリーダ/シャドウ/サイズ/空白")
